@{ Layout = "~/Views/_Layout.cshtml"; }
@using LionTech.Entity.ERP
@using LionTech.Utility
@using LionTech.Web.ERPHelper
@using Resources
@model ERPAP.Models.Sys.ADSReportModel

@{
    string fullDateTimeNumber = Common.GetDateTimeString();
}

<link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/themes/base/jquery.ui.combobox.css?@(fullDateTimeNumber)" rel="stylesheet" type="text/css" />
<script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/jquery.ui.combobox.js?@(fullDateTimeNumber)" type="text/javascript"></script>
<script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/Sys/ADSReport.js?@(fullDateTimeNumber)" type="text/javascript"></script>

@using (Html.BeginFormSubmit("ADSReportForm"))
{
    using (Html.BeginTabs(ERPAP.Models._BaseAPModel.EnumTabController.Sys.ToString(), Model.SysADSTabList))
    {
        <table class="tblsearch">
            <tr>
                <td>
                    <table>
                        <tr>
                            <th style="width: 80px">
                                @Html.FormLabel(SysADSReport.Label_ReportType, IsRequired: true)
                            </th>
                            <td>
                                @Html.InputComboBoxFor(model => model.ReportType, Model.ComboBoxADSReportList, TitleName: SysADSReport.Label_ReportType)
                            </td>
                            <td></td>
                        </tr>
                        <tr id="TR_Sys">
                            <th>
                                @Html.FormLabel(SysADSReport.Label_SystemType)
                            </th>
                            <td>
                                @Html.InputComboBoxFor(model => model.SysID, Model.GetDictionaryFormSelectItem(Model.EntitySystemSysIDList, true), TitleName: SysADSReport.Label_SystemType)
                            </td>
                        </tr>
                        <tr>
                            <td id="TD_Export">
                                @Html.ButtonClient("ExcelExportButton", Resource.Button_ExportExcel, className: "btnSearch")
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    }
}