@{ Layout = "~/Views/_Layout.cshtml"; }
@using LionTech.Entity
@using LionTech.Entity.ERP
@using LionTech.Utility
@using LionTech.Web.ERPHelper
@using Resources
@model ERPAP.Models.Sys.SystemTeamsDetailModel

@{
    string fullDateTimeNumber = Common.GetDateTimeString();
    bool readOnlyAttribute = Model.ExecAction == EnumActionType.Update || Model.ExecAction == EnumActionType.Delete;
}

<link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/themes/base/jquery.ui.combobox.css?@(fullDateTimeNumber)" rel="stylesheet" type="text/css" />
<script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/jquery.ui.combobox.js?@(fullDateTimeNumber)" type="text/javascript"></script>
<script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/Sys/SystemTeamsDetail.js?@(fullDateTimeNumber)" type="text/javascript"></script>
<div class="page-title"><h3>@SysSystemTeamsDetail.TabText_SystemTeamsDetail</h3></div>
@using (Html.BeginFormSubmit("SystemTeamsDetailForm"))
{
    <table class="tblvertical">
        <tr>
            <th>
                @Html.FormLabel(SysSystemTeamsDetail.Label_SysID, IsRequired: true)
            </th>
            <td>
                <span style="display: none">
                    @Html.InputComboBoxFor(model => model.SysID, Model.GetDictionaryFormSelectItem(Model.UserSystemByIdList, false), isDisabled: false, TitleName: SysSystemTeamsDetail.Label_SysID)
                </span>
                <span style="display: block">
                    @Html.InputTextBox("SysIDReadOnlyText", string.Empty, ReadOnly: true, maximumLength: 200, Size: 30)
                </span>
            </td>
            <th>
                @Html.FormLabel(SysSystemTeamsDetail.Label_TeamsChannelID)
            </th>
            <td colspan="3">
                @Html.InputTextBoxFor(model => model.TeamsChannelID, ReadOnly: readOnlyAttribute, Size: 30, TitleName: SysSystemTeamsDetail.Label_TeamsChannelID)
            </td>
        </tr>
        <tr>
            <th>
                @Html.FormLabel(SysSystemTeamsDetail.Label_TeamsChannelNMZHTW, IsRequired: true)
            </th>
            <td>
                @Html.InputTextBoxFor(model => model.TeamsChannelNMZHTW, false, 30, TitleName: SysSystemTeamsDetail.Label_TeamsChannelNMZHTW)
            </td>
            <th>
                @Html.FormLabel(SysSystemTeamsDetail.Label_TeamsChannelNMZHCN, IsRequired: true)
            </th>
            <td>
                @Html.InputTextBoxFor(model => model.TeamsChannelNMZHCN, false, 30, TitleName: SysSystemTeamsDetail.Label_TeamsChannelNMZHCN)
            </td>
            <th>
                @Html.FormLabel(SysSystemTeamsDetail.Label_TeamsChannelNMENUS, IsRequired: true)
            </th>
            <td>
                @Html.InputTextBoxFor(model => model.TeamsChannelNMENUS, false, 30, TitleName: SysSystemTeamsDetail.Label_TeamsChannelNMENUS)
            </td>
        </tr>
        <tr>
            <th>
                @Html.FormLabel(SysSystemTeamsDetail.Label_TeamsChannelNMTHTH, IsRequired: true)
            </th>
            <td>
                @Html.InputTextBoxFor(model => model.TeamsChannelNMTHTH, false, 30, TitleName: SysSystemTeamsDetail.Label_TeamsChannelNMTHTH)
            </td>
            <th>
                @Html.FormLabel(SysSystemTeamsDetail.Label_TeamsChannelNMJAJP, IsRequired: true)
            </th>
            <td>
                @Html.InputTextBoxFor(model => model.TeamsChannelNMJAJP, false, 30, TitleName: SysSystemTeamsDetail.Label_TeamsChannelNMJAJP)
            </td>
            <th>
                @Html.FormLabel(SysSystemTeamsDetail.Label_TeamsChannelNMKOKR, IsRequired: true)
            </th>
            <td colspan="3">
                @Html.InputTextBoxFor(model => model.TeamsChannelNMKOKR, false, 30, TitleName: SysSystemTeamsDetail.Label_TeamsChannelNMKOKR)
            </td>
        </tr>
        <tr>
            <th>
                @Html.FormLabel(SysSystemTeamsDetail.Label_IsDisable)
            </th>
            <td>
                @Html.InputCheckBox("IsDisable", SysSystemTeamsDetail.Label_IsDisable, EnumYN.Y.ToString(), Model.IsDisable == EnumYN.Y.ToString())
            </td>
            <th>
                @Html.FormLabel(SysSystemTeamsDetail.Label_SortOrder)
            </th>
            <td colspan="3">
                @Html.InputTextBoxFor(model => model.SortOrder, false, 30, TitleName: SysSystemTeamsDetail.Label_SortOrder)
            </td>
        </tr>
        <tr>
            <th>
                @Html.FormLabel(SysSystemTeamsDetail.Label_TeamsChannelUrl, IsRequired: true)
            </th>
            <td colspan="5">
                @Html.InputTextBoxFor(model => model.TeamsChannelUrl, false, 100, TitleName: SysSystemTeamsDetail.Label_TeamsChannelUrl)
            </td>
        </tr>
    </table>

    <div>
        @if (Model.ExecAction == EnumActionType.Add)
        {
            @Html.ButtonClient("AddButton", Resource.Button_Add, className: "btn")
        }
        @if (Model.ExecAction == EnumActionType.Update ||
             Model.ExecAction == EnumActionType.Delete)
        {
            @Html.ButtonClient("UpdateButton", Resource.Button_Update, className: "btn")
            <span></span>
            @Html.ButtonClient("DeleteButton", Resource.Button_Delete, className: "btn")
        }
        @Html.ButtonClient("CancelButton", Resource.Button_Cancel, className: "btn")
    </div>
}