@{ Layout = "~/Views/_Layout.cshtml"; }
@using LionTech.Entity.ERP
@using LionTech.Utility
@using LionTech.Web.ERPHelper
@using Resources
@model ERPAP.Models.Sys.SystemFunGroupModel

@{
    string fullDateTimeNumber = Common.GetDateTimeString();
}

<link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/themes/base/jquery.ui.combobox.css?@(fullDateTimeNumber)" rel="stylesheet" type="text/css" />
<script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/jquery.ui.combobox.js?@(fullDateTimeNumber)" type="text/javascript"></script>
<script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/Sys/SystemFunGroup.js?@(fullDateTimeNumber)" type="text/javascript"></script>

@using (Html.BeginFormSubmit("SystemFunGroupForm"))
{
    using (Html.BeginTabs(ERPAP.Models._BaseAPModel.EnumTabController.Sys.ToString(), Model.SysSystemTabList))
    {
        @Html.InputTextBox("SysID", string.Empty, inputType: EnumInputType.TextBoxHidden)
        @Html.InputTextBox("FunControllerID", string.Empty, inputType: EnumInputType.TextBoxHidden)

        <table class="tblsearch">
            <tr>
                <td>
                    <table>
                        <tr>
                            <th style="width: 70px">
                                @Html.FormLabel(SysSystemFunGroup.Label_SysID, IsRequired: true)
                            </th>
                            <td>
                                @Html.InputComboBoxFor(model => model.QuerySysID, Model.GetDictionaryFormSelectItem(Model.UserSystemByIdList, true), isDisabled: false, TitleName: SysSystemFunGroup.Label_SysID)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                @Html.ButtonClient("SelectButton", Resource.Button_Select, className: "btnSearch")
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        using (Html.BeginPager(Model.PageIndex, Model.PageSize, Model.RowCount))
        {
            <table id="SystemFunGroupTable" class="tblzebra" style="margin: 0;">
                <thead>
                    <tr>
                        <th style="width: 30px;">@SysSystemFunGroup.Text_Detail</th>
                        <th>@SysSystemFunGroup.Table_FunGroup</th>
                        <th>@SysSystemFunGroup.Table_SortOrder</th>
                        <th>@SysSystemFunGroup.Table_UpdUserNM</th>
                        <th>@SysSystemFunGroup.Table_UpdDT</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.SystemFunGroupList != null)
                    {
                        string trClass = string.Empty;
                        foreach (var row in Model.SystemFunGroupList)
                        {
                            <tr class="@trClass">
                                <td data-th="@SysSystemFunGroup.Text_Detail：" nowrap="nowrap" class="center">
                                    @Html.TextSubmitLink(
                                        "Sys",
                                        "SystemFunGroupDetail",
                                        "LinkFunKey",
                                        SysSystemFunGroup.Text_Detail,
                                        new List<string>()
                                        {
                                            row.SysID,
                                            row.FunControllerID
                                        }
                                        )
                                </td>
                                <td data-th="@SysSystemFunGroup.Table_FunGroup：" title="@SysSystemFunGroup.Table_FunGroup">@row.FunGroupNM (@row.FunControllerID)</td>
                                <td data-th="@SysSystemFunGroup.Table_SortOrder：" title="@SysSystemFunGroup.Table_SortOrder">@Html.Raw(row.SortOrder)</td>
                                <td data-th="@SysSystemFunGroup.Table_UpdUserNM：" title="@SysSystemFunGroup.Table_UpdUserNM">@Html.Raw(row.UpdUserNM)</td>
                                <td data-th="@SysSystemFunGroup.Table_UpdDT：" title="@SysSystemFunGroup.Table_UpdDT">@Common.GetDateTimeText(row.UpdDT)</td>
                            </tr>

                            trClass = string.IsNullOrWhiteSpace(trClass) ? "tr2" : string.Empty;
                        }
                    }
                </tbody>
            </table>
        }

        <div>
            @Html.ButtonSubmit("Sys", "SystemFunGroupDetail", "AddButton", Resource.Button_Add, className: "btn greenhover")
        </div>
    }
}