@{ Layout = "~/Views/_Layout.cshtml"; }
@using LionTech.Entity.ERP
@using LionTech.Utility
@using LionTech.Web.ERPHelper
@using Resources
@model ERPAP.Models.Sys.SystemPurviewModel

@{
    string fullDateTimeNumber = Common.GetDateTimeString();
}

<link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/themes/base/jquery.ui.combobox.css?@(fullDateTimeNumber)" rel="stylesheet" type="text/css" />
<script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/jquery.ui.combobox.js?@(fullDateTimeNumber)" type="text/javascript"></script>
<script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/Sys/SystemPurview.js?@(fullDateTimeNumber)" type="text/javascript"></script>

@using (Html.BeginFormSubmit("SystemPurviewForm"))
{
    using (Html.BeginTabs(ERPAP.Models._BaseAPModel.EnumTabController.Sys.ToString(), Model.SysSystemTabList))
    {
        @Html.InputTextBox("SysID", string.Empty, inputType: EnumInputType.TextBoxHidden)
        @Html.InputTextBox("PurviewID", string.Empty, inputType: EnumInputType.TextBoxHidden)

        <table class="tblsearch">
            <tr>
                <td>
                    <table>
                        <tr>
                            <th style="width: 70px">
                                @Html.FormLabel(SysSystemPurview.Label_SysID, IsRequired: true)
                            </th>
                            <td>
                                @Html.InputComboBoxFor(model => model.QuerySysID, Model.GetDictionaryFormSelectItem(Model.UserSystemByIdList, true), isDisabled: false, TitleName: SysSystemPurview.Label_SysID)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                @Html.ButtonClient("SelectButton", Resource.Button_Select, className: "btnSearch")
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        
        using (Html.BeginPager(Model.PageIndex, Model.PageSize, Model.RowCount))
        {
            <table id="SystemPurviewTable" class="tblzebra">
                <tr>
                    <th style="width: 30px;">@SysSystemPurview.Text_Detail</th>
                    <th>@SysSystemPurview.Table_Purview</th>
                    <th>@SysSystemPurview.Table_Remark</th>
                    <th>@SysSystemPurview.Table_SortOrder</th>
                    <th>@SysSystemPurview.Table_UpdUserNM</th>
                    <th>@SysSystemPurview.Table_UpdDT</th>
                </tr>
                @if (Model.SystemPurviewList != null)
                {
                    string trClass = string.Empty;
                    foreach (var row in Model.SystemPurviewList)
                    {
                <tr class="@trClass">
                    <td data-th="@SysSystemPurview.Text_Detail：" class="center">
                        @Html.TextSubmitLink(
                            "Sys",
                            "SystemPurviewDetail",
                            "LinkFunKey",
                            SysSystemPurview.Text_Detail,
                            new List<string>() {
                                row.SysID,
                                row.PurviewID
                            }
                        )
                    </td>
                    <td data-th="@SysSystemPurview.Table_Purview：" title="@SysSystemPurview.Table_Purview">@row.PurviewNM (@row.PurviewID)</td>
                    <td data-th="@SysSystemPurview.Table_Remark：" title="@SysSystemPurview.Table_Remark">@Html.Raw(row.Remark)</td>
                    <td data-th="@SysSystemPurview.Table_SortOrder：" title="@SysSystemPurview.Table_SortOrder">@Html.Raw(row.SortOrder)</td>
                    <td data-th="@SysSystemPurview.Table_UpdUserNM：" title="@SysSystemPurview.Table_UpdUserNM">@Html.Raw(row.UpdUserNM)</td>
                    <td data-th="@SysSystemPurview.Table_UpdDT：" title="@SysSystemPurview.Table_UpdDT">@Common.GetDateTimeText(row.UpdDT)</td>
                </tr>

                        trClass = string.IsNullOrWhiteSpace(trClass) ? "tr2" : string.Empty;
                    }
                }
            </table>
        }

        <div>
            @Html.ButtonSubmit("Sys", "SystemPurviewDetail", "AddButton", Resource.Button_Add, className: "btn")
        </div>
    }
}