@{ Layout = "~/Views/_Popup.cshtml"; }
@using LionTech.Entity.ERP
@using LionTech.Utility
@using LionTech.Utility.ERP
@using LionTech.Web.ERPHelper
@using Resources
@model ERPAP.Models.Sys.SystemEDIFlowErrorModel

@{
    string editionNo = ViewData[EnumViewDataItem.EditionNo.ToString()].ToString();
}

<script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/Sys/SystemEDIFlowError.js?@(editionNo)" type="text/javascript"></script>

@using (Html.BeginFormSubmit("SystemEDIFlowErrorForm"))
{
    using (Html.BeginTabs(ERPAP.Models._BaseAPModel.EnumTabController.Sys.ToString(), Model.TabList))
    {
        <table class="tblvertical">
            <tr>
                <th style="width: 75px;">
                    @Html.FormLabel(SysSystemEDIFlowError.Label_EDIFilePath)
                </th>
                <td>
                    @Html.InputTextBox("EDIFilePathReadOnlyText", Model.EDIFilePath, ReadOnly: true, Size: 50)
                </td>
            </tr>
        </table>

        <div>
            @Html.ButtonClient("CloseButton", Resource.Button_Close, className: "btn")
        </div>

        <div style="margin: 10px">
            <pre>
                @if (string.IsNullOrWhiteSpace(Model.EDIFile) == false)
                {
                    @Model.EDIFile
                }
            </pre>
        </div>
    }
}