@{ Layout = "~/Views/_Layout.cshtml"; }
@using LionTech.Entity.ERP
@using LionTech.Entity.ERP.Sys
@using LionTech.Utility
@using LionTech.Web.ERPHelper
@using Resources
@model ERPAP.Models.Sys.SystemEDIJobModel

@{
    string fullDateTimeNumber = Common.GetDateTimeString();
}

<link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/themes/base/jquery.ui.combobox.css?@(fullDateTimeNumber)" rel="stylesheet" type="text/css" />
<script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/jquery.ui.combobox.js?@(fullDateTimeNumber)" type="text/javascript"></script>
<script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/Sys/SystemEDIJob.js?@(fullDateTimeNumber)" type="text/javascript"></script>

@using (Html.BeginFormSubmit("SystemEDIJobForm"))
{
    using (Html.BeginTabs(ERPAP.Models._BaseAPModel.EnumTabController.Sys.ToString(), Model.SysEDITabList))
    {
        @Html.InputTextBox("SysID", string.Empty, inputType: EnumInputType.TextBoxHidden)
        @Html.InputTextBox("EDIFlowID", string.Empty, inputType: EnumInputType.TextBoxHidden)
        @Html.InputTextBox("EDIJobID", string.Empty, inputType: EnumInputType.TextBoxHidden)
        @Html.InputTextBox("QueryEDIJobID", string.Empty, inputType: EnumInputType.TextBoxHidden)

        <table class="tblsearch">
            <tr>
                <td>
                    <table>
                        <tr>
                            <th nowrap="nowrap">
                                @Html.FormLabel(SysSystemEDIJob.Label_SysID, IsRequired: true)
                            </th>
                            <td nowrap="nowrap">
                                @Html.InputComboBoxFor(model => model.QuerySysID, Model.GetDictionaryFormSelectItem(Model.UserSystemByIdList.ToDictionary(p => p.ItemValue(), p => p.ItemText()), true), isDisabled: false, TitleName: SysSystemEDIFlow.Label_SysID)

                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <th nowrap="nowrap">
                                @Html.FormLabel(SysSystemEDIJob.Label_EDIFlowID, IsRequired: true)
                            </th>
                            <td nowrap="nowrap">
                                @Html.InputComboBox("QueryEDIFlowID", Model.QueryEDIFlowID, Model.GetDictionaryFormSelectItem(Model.EntitySysSystemEDIFlowList, true), isDisabled: false, TitleName: SysSystemEDIJob.Label_EDIFlowID, IsRequired: true)
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <th nowrap="nowrap">
                                @Html.FormLabel(SysSystemEDIJob.Label_EDIJobType)
                            </th>
                            <td nowrap="nowrap" class="width">
                                @Html.InputComboBoxFor(model => model.QueryEDIJobType, Model.GetDictionaryFormSelectItem(Model.CMCodeLists.ToDictionary(p => p.CodeID, p => p.CodeNM), true), isDisabled: false, TitleName: SysSystemEDIJob.Label_EDIJobType)

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="text-left" colspan="3">
                    @Html.ButtonSubmit("Sys", "SystemEDIJob", "SearchButton", Resource.Button_Select, className: "btnSearch")
                </td>
            </tr>
        </table>

        <table id="SystemEDIJobTable" class="tblzebra">
            <thead>
                <tr>
                    <th style="width: 3%;">
                        @Html.ImageButton("MoveUp", string.Format("{0}{1}", @Common.GetEnumDesc(EnumSystemID.ERPAP), "/Content/images/imgSortUp.png"))
                        @Html.ImageButton("MoveDown", string.Format("{0}{1}", @Common.GetEnumDesc(EnumSystemID.ERPAP), "/Content/images/imgSortDown.png"))
                    </th>
                    <th nowrap="nowrap">@SysSystemEDIJob.Text_Detail</th>
                    <th nowrap="nowrap">@SysSystemEDIJob.Text_Para</th>
                    <th nowrap="nowrap">@SysSystemEDIJob.Text_JobLog</th>
                    <th nowrap="nowrap">@SysSystemEDIJob.Label_EDIFlowID</th>
                    <th nowrap="nowrap">@SysSystemEDIJob.Label_EDIJobID</th>
                    <th nowrap="nowrap">@SysSystemEDIJob.Label_EDIJobType</th>
                    <th nowrap="nowrap">@SysSystemEDIJob.Label_ObjectName</th>
                    <th nowrap="nowrap">@SysSystemEDIJob.Label_DepEDIJobID</th>
                    <th nowrap="nowrap">@SysSystemEDIJob.Label_IsUseRes</th>
                    <th nowrap="nowrap">@SysSystemEDIJob.Label_IgnoreWarning</th>
                    <th nowrap="nowrap">@SysSystemEDIJob.Label_IsDisable</th>
                    <th nowrap="nowrap">@SysSystemEDIJob.Label_SortOrder</th>
                    <th nowrap="nowrap">@SysSystemEDIJob.Label_UpdUserNM</th>
                    <th nowrap="nowrap">@SysSystemEDIJob.Label_UpdDT</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.SystemEDIJobList != null)
                {
                    string rowListNM = string.Empty;
                    ERPAP.Models.Sys.SystemEDIJobModel.SystemEDIJob data = new ERPAP.Models.Sys.SystemEDIJobModel.SystemEDIJob();
                    for (int rowCount = 0; rowCount < Model.SystemEDIJobList.Count; rowCount++)
                    {
                        data = Model.SystemEDIJobList[rowCount];
                        rowListNM = "ediJobSortValueList[" + rowCount + "]";
                        <tr>
                            <td nowrap="nowrap" class="text-center">
                                @Html.RadioButton("IsMoved", false)
                                @Html.InputTextBox(rowListNM + ".AfterSortOrder", data.SortOrder, inputType: EnumInputType.TextBoxHidden)
                                @Html.InputTextBox(rowListNM + ".BeforeSortOrder", data.SortOrder, inputType: EnumInputType.TextBoxHidden)
                                @Html.InputTextBox(rowListNM + ".EDIJobID", data.EDIJobID, inputType: EnumInputType.TextBoxHidden)
                            </td>
                            <td data-th="@SysSystemEDIJob.Text_Detail：" nowrap="nowrap" class="text-center">
                                @Html.TextSubmitLink(
                                    "Sys",
                                    "SystemEDIJobDetail",
                                    "LinkFunKeyDetail",
                                    SysSystemEDIJob.Text_Detail,
                                    new List<string>()
                                    {
                                        data.SysID,
                                        data.EDIFlowID,
                                        data.EDIJobID
                                    }
                                    )
                            </td>
                            <td data-th="@SysSystemEDIJob.Text_Para：" nowrap="nowrap" class="center">
                                @Html.TextSubmitLink(
                                    "Sys",
                                    "SystemEDIPara",
                                    "LinkFunKeyPara",
                                    SysSystemEDIJob.Text_Para,
                                    new List<string>()
                                    {
                                        data.SysID,
                                        data.EDIFlowID,
                                        data.EDIJobID
                                    }
                                    )
                            </td>
                            <td data-th="@SysSystemEDIJob.Text_JobLog：" nowrap="nowrap" class="center">
                                @Html.TextSubmitLink(
                                    "Sys",
                                    "SystemEDIJobLog",
                                    "LinkFunKeyJobLog",
                                    SysSystemEDIJob.Text_JobLog,
                                    new List<string>()
                                    {
                                        data.SysID,
                                        data.EDIFlowID,
                                        data.EDIJobID
                                    }
                                    )
                            </td>
                            <td data-th="@SysSystemEDIJob.Label_EDIFlowID：" nowrap="nowrap" title="@SysSystemEDIJob.Label_EDIFlowID">@Html.Raw(data.EDIFlowNM)</td>
                            <td data-th="@SysSystemEDIJob.Table_EDIJobID：" nowrap="nowrap" title="@SysSystemEDIJob.Table_EDIJobID">@Html.Raw(data.EDIJobNM)</td>
                            <td data-th="@SysSystemEDIJob.Label_EDIJobType：" nowrap="nowrap" title="@SysSystemEDIJob.Label_EDIJobType">@Html.Raw(data.EDIJobType)</td>
                            <td data-th="@SysSystemEDIJob.Table_ObjectName：" nowrap="nowrap" title="@SysSystemEDIJob.Table_ObjectName">
                                @if (data.ObjectName != null)
                                {
                                    <span style="color:black;">@Html.Raw(data.ObjectName)</span>
                                }
                                else
                                {
                                    <span style="color:red;">@("NULL")</span>
                                }
                            </td>

                            <td data-th="@SysSystemEDIJob.Table_DepEDIJobID：" nowrap="nowrap" title="@SysSystemEDIJob.Table_DepEDIJobID">
                                @if (data.DepEDIJobID != null)
                                {
                                    <span style="color:black;">@Html.Raw(data.DepEDIJobID)</span>
                                }
                                else
                                {
                                    <span style="color:red;">@("NULL")</span>
                                }
                            </td>
                            <td data-th="@SysSystemEDIJob.Table_IsUseRes：" nowrap="nowrap" title="@SysSystemEDIJob.Table_IsUseRes">
                                @if (data.IsUseRes != null)
                                {
                                    <span style="color:black;">@Html.Raw(data.IsUseRes)</span>
                                }
                                else
                                {
                                    <span style="color:red;">@("NULL")</span>
                                }
                            </td>
                            <td data-th="@SysSystemEDIJob.Table_IgnoreWarning：" nowrap="nowrap" title="@SysSystemEDIJob.Table_IgnoreWarning">@Html.Raw(data.IgnoreWarning)</td>
                            <td data-th="@SysSystemEDIJob.Table_IsDisable：" nowrap="nowrap" title="@SysSystemEDIJob.Table_IsDisable">@Html.Raw(data.IsDisable)</td>
                            <td data-th="@SysSystemEDIJob.Table_SortOrder：" nowrap="nowrap" title="@SysSystemEDIJob.Table_SortOrder">@Html.Raw(data.SortOrder)</td>
                            <td data-th="@SysSystemEDIJob.Table_UpdUserID：" nowrap="nowrap" title="@SysSystemEDIJob.Table_UpdUserID">@Html.Raw(data.UpdUserNM)</td>
                            <td data-th="@SysSystemEDIJob.Table_UpdDT：" nowrap="nowrap" title="@SysSystemEDIJob.Table_UpdDT">@Common.GetDateTimeFormattedText(data.UpdDt, Common.EnumDateTimeFormatted.FullDateTime)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <div class="text-left">
            @Html.ButtonSubmit("Sys", "SystemEDIJobDetail", "AddButton", Resource.Button_Add, className: "btn")
            @Html.ButtonSubmit("Sys", "SystemEDIJobDetail", "SaveButton", Resource.Button_Save, className: "btn")
            @Html.ButtonSubmit("Sys", "SystemEDIJobConvey", "ConveyButton", SysSystemEDIJob.Button_Convey, className: "btn")
            @Html.ButtonSubmit("Sys", "SystemEDIJobDetail", "CancelButton", Resource.Button_Cancel, className: "btn")
        </div>

        using (Html.BeginConfirmDialog("dialog_Confirm", SysSystemEDIJob.Button_Convey, SysSystemEDIJob.SystemMsg_GetEDIFlowIDError))
        {
            @Html.ButtonClient("ConfirmOKButton", Resource.Button_Okay)
        }
    }
}