@{ Layout = "~/Views/_Layout.cshtml"; }
@using LionTech.Entity.ERP
@using LionTech.Entity.ERP.Sys
@using LionTech.Utility
@using LionTech.Web.ERPHelper
@using Resources
@using System.Globalization;
@model ERPAP.Models.Sys.SystemRoleUserListModel

@{
    string fullDateTimeNumber = Common.GetDateTimeString();
}

<script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/Sys/SystemRoleUserList.js?@(fullDateTimeNumber)" type="text/javascript"></script>

@using (Html.BeginFormSubmit("SystemRoleUserListForm"))
{
    using (Html.BeginTabs(ERPAP.Models._BaseAPModel.EnumTabController.Sys.ToString(), Model.TabList))
    {
        @Html.InputTextBoxFor(model => model.SysID, true, 6)
        @Html.InputTextBoxFor(model => model.SysNM, true, 150)
        @Html.InputTextBoxFor(model => model.RoleID, true, 20)
        @Html.InputTextBoxFor(model => model.RoleNM, true, 150)
        @Html.InputTextBox("UserID", string.Empty, inputType: EnumInputType.TextBoxHidden)

        <table class="tblsearch">
            <tr>
                <td>
                    <table>
                        <tr>
                            <th>
                                @Html.FormLabel(SysSystemRoleUserList.Label_SysNM)
                            </th>
                            <td>
                                @Model.SysNM
                            </td>
                            <th>
                                @Html.FormLabel(SysSystemRoleUserList.Label_RoleNM)
                            </th>
                            <td>
                                @Model.RoleNM
                            </td>
                            <th>
                                @Html.FormLabel(SysSystemRoleUserList.Label_UserID)
                            </th>
                            <td>
                                @Html.InputTextBoxFor(model => model.QueryUserID, false, 10, TitleName: SysSystemRoleUserList.Label_UserID)
                                @Html.ButtonClient("Help03Button", "?", className: "qmark")
                            </td>
                            <th>
                                @Html.FormLabel(SysSystemRoleUserList.Label_UserNM)
                            </th>
                            <td>
                                @Html.InputTextBoxFor(model => model.QueryUserNM, false, 10, TitleName: SysSystemRoleUserList.Label_UserNM)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="8">
                                @Html.ButtonClient("SelectButton", Resource.Button_Select, className: "btnSearch")
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        using (Html.BeginPager(Model.PageIndex, Model.PageSize, Model.RowCount))
        {
            <table id="SystemRoleUserListTable" class="tblzebra">
                <thead>
                    <tr>
                        <th style="width: 30px;">@SysSystemRoleUserList.Text_Detail</th>
                        <th>@SysSystemRoleUserList.Table_UserNM</th>
                        <th>@SysSystemRoleUserList.Table_UpdUserNM</th>
                        <th>@SysSystemRoleUserList.Table_UpdDT</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.EntitySystemRoleUserList != null)
                    {
                        string trClass = string.Empty;
                        foreach (var data in Model.EntitySystemRoleUserList)
                        {
                            <tr class="@trClass">
                                <td data-th="@SysSystemRoleUserList.Text_Detail：" class="center">
                                    @Html.TextSubmitLink(
                                        "Sys",
                                        "UserRoleFunDetail",
                                        "LinkFunKey",
                                        SysSystemRoleUserList.Text_Detail,
                                        new List<string>()
                                        {
                                            data.UserID
                                        }
                                        )
                                </td>
                                <td data-th="@SysSystemRoleUserList.Table_UserNM：" title="@SysSystemRoleUserList.Table_UserNM">@data.UserID @data.UserNM</td>
                                <td data-th="@SysSystemRoleUserList.Table_UpdUserNM：" title="@SysSystemRoleUserList.Table_UpdUserNM">@Html.Raw(data.UpdUserNM)</td>
                                <td data-th="@SysSystemRoleUserList.Table_UpdDT：" title="@SysSystemRoleUserList.Table_UpdDT">@Html.Raw(data.UpdDT.ToString("yyyy/MM/dd HH:mm:ss.fff", CultureInfo.InvariantCulture))</td>
                            </tr>

                            if (string.IsNullOrWhiteSpace(trClass))
                            {
                                trClass = "tr2";
                            }
                            else
                            {
                                trClass = string.Empty;
                            }
                        }
                    }
                </tbody>
            </table>
        }

        <div>
            @Html.ButtonClient("CancelButton", Resource.Button_Cancel, className: "btn")
        </div>
    }
}