@{ Layout = "~/Views/_Layout.cshtml"; }
@using LionTech.Entity
@using LionTech.Entity.ERP
@using LionTech.Utility
@using LionTech.Web.ERPHelper
@using Resources
@model ERPAP.Models.Sys.SystemEDIJobDetailModel

@{
    string fullDateTimeNumber = Common.GetDateTimeString();
}

<link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/themes/base/jquery.ui.combobox.css?@(fullDateTimeNumber)" rel="stylesheet" type="text/css" />
<script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/jquery.ui.combobox.js?@(fullDateTimeNumber)" type="text/javascript"></script>
<script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/Sys/SystemEDIJobDetail.js?@(fullDateTimeNumber)" type="text/javascript"></script>

@using (Html.BeginFormSubmit("SystemEDIJobDetailForm"))
{
    using (Html.BeginTabs(ERPAP.Models._BaseAPModel.EnumTabController.Sys.ToString(), Model.TabList))
    {
        string comboBoxStyle = "block";
        string textBoxStyle = "block";
        string readOnlyTextStyle = "none";
        if (Model.ExecAction == EnumActionType.Update ||
            Model.ExecAction == EnumActionType.Delete)
        {
            comboBoxStyle = "none";
            textBoxStyle = "none";
            readOnlyTextStyle = "block";
        }

        <table class="tblvertical">
            <tr>
                <th>
                    @Html.FormLabel(SysSystemEDIJobDetail.Label_SysID, IsRequired: true)
                </th>
                <td>
                    <span style="display: none">
                        @Html.InputComboBox("SysID", Model.SysID, Model.GetDictionaryFormSelectItem(Model.EntitySystemSysIDList, false), TitleName: SysSystemEDIJobDetail.Label_SysID)
                    </span>
                    <span style="display: block">
                        @Html.InputTextBox("SysIDReadOnlyText", string.Empty, ReadOnly: true, maximumLength: 200, Size: 30)
                    </span>
                </td>
                <th>
                    @Html.FormLabel(SysSystemEDIJobDetail.Label_EDIFlowID, IsRequired: true)
                </th>
                <td>
                    <span style="display: @comboBoxStyle">
                        @Html.InputComboBoxFor(model => model.EDIFlowID, Model.GetDictionaryFormSelectItem(Model.EntitySysSystemEDIFlowList, false), TitleName: SysSystemEDIJobDetail.Label_EDIFlowID)
                    </span>
                    <span style="display: @readOnlyTextStyle">
                        @Html.InputTextBox("EDIFlowIDReadOnlyText", string.Empty, ReadOnly: true, maximumLength: 200, Size: 30)
                    </span>
                </td>
                <th>
                    @Html.FormLabel(SysSystemEDIJobDetail.Label_EDIJobID, IsRequired: true)
                </th>
                <td>
                    <span style="display: @textBoxStyle">
                        @Html.InputTextBoxFor(model => model.EDIJobID, Size: 30, TitleName: SysSystemEDIJobDetail.Label_EDIJobID)
                    </span>
                    <span style="display: @readOnlyTextStyle">
                        @Html.InputTextBox("EDIJobIDReadOnlyText", string.Empty, ReadOnly: true, maximumLength: 50, Size: 30)
                    </span>
                </td>
            </tr>
            <tr>
                <th>
                    @Html.FormLabel(SysSystemEDIJobDetail.Label_EDIJobZHTW, IsRequired: true)
                </th>
                <td>
                    @Html.InputTextBoxFor(model => model.EDIJobZHTW, false, 30, TitleName: SysSystemEDIJobDetail.Label_EDIJobZHTW)
                </td>
                <th>
                    @Html.FormLabel(SysSystemEDIJobDetail.Label_EDIJobZHCN, IsRequired: true)
                </th>
                <td>
                    @Html.InputTextBoxFor(model => model.EDIJobZHCN, false, 30, TitleName: SysSystemEDIJobDetail.Label_EDIJobZHCN)
                </td>
                <th>
                    @Html.FormLabel(SysSystemEDIJobDetail.Label_EDIJobENUS, IsRequired: true)
                </th>
                <td>
                    @Html.InputTextBoxFor(model => model.EDIJobENUS, false, 30, TitleName: SysSystemEDIJobDetail.Label_EDIJobENUS)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.FormLabel(SysSystemEDIJobDetail.Label_EDIJobTHTH, IsRequired: true)
                </th>
                <td>
                    @Html.InputTextBoxFor(model => model.EDIJobTHTH, false, 30, TitleName: SysSystemEDIJobDetail.Label_EDIJobTHTH)
                </td>
                <th>
                    @Html.FormLabel(SysSystemEDIJobDetail.Label_EDIJobJAJP, IsRequired: true)
                </th>
                <td>
                    @Html.InputTextBoxFor(model => model.EDIJobJAJP, false, 30, TitleName: SysSystemEDIJobDetail.Label_EDIJobJAJP)
                </td>
                <th>
                    @Html.FormLabel(SysSystemEDIJobDetail.Label_EDIJobKOKR, IsRequired: true)
                </th>
                <td>
                    @Html.InputTextBoxFor(model => model.EDIJobKOKR, false, 30, TitleName: SysSystemEDIJobDetail.Label_EDIJobKOKR)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.FormLabel(SysSystemEDIJobDetail.Label_EDIJobType, IsRequired: true)
                </th>
                <td>
                    @Html.InputComboBoxFor(model => model.EDIJobType, Model.GetDictionaryFormSelectItem(Model.EntityEDIJobTypeList, false), TitleName: SysSystemEDIJobDetail.Label_EDIJobType)
                </td>
                <th>
                    @Html.FormLabel(SysSystemEDIJobDetail.Label_EDIConID)
                </th>
                <td>
                    @Html.InputComboBoxFor(model => model.EDIConID, Model.GetDictionaryFormSelectItem(Model.SystemEDIConList.ToDictionary(p => p.EDIConID, p => p.EDIConNM), true), TitleName: SysSystemEDIJobDetail.Label_EDIConID)
                </td>
                <th>
                    @Html.FormLabel(SysSystemEDIJobDetail.Label_ObjectName)
                </th>
                <td>
                    @Html.InputTextBoxFor(model => model.ObjectName, false, 30, TitleName: SysSystemEDIJobDetail.Label_ObjectName)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.FormLabel(SysSystemEDIJobDetail.Label_IsUseRes)
                </th>
                <td>
                    @Html.InputCheckBox("IsUseRes", SysSystemEDIJobDetail.Label_IsUseRes, EnumYN.Y.ToString(), (Model.IsUseRes == EnumYN.Y.ToString()) ? true : false)
                </td>
                <th>
                    @Html.FormLabel(SysSystemEDIJobDetail.Label_FileEncoding)
                </th>
                <td>
                    @Html.InputComboBoxFor(model => model.FileEncoding, Model.GetDictionaryFormSelectItem(Model.CMCodeLists.ToDictionary(p => p.CodeID, p => p.CodeNM), true), TitleName: SysSystemEDIJobDetail.Label_FileEncoding)
                </td>
                <th>
                    @Html.FormLabel(SysSystemEDIJobDetail.Label_SortOrder)
                </th>
                <td>
                    @Html.InputTextBoxFor(model => model.SortOrder, false, 30, TitleName: SysSystemEDIJobDetail.Label_SortOrder)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.FormLabel(SysSystemEDIJobDetail.Label_DepEDIJobID)
                </th>
                <td>
                    @Html.InputComboBoxFor(model => model.DepEDIJobID, Model.GetDictionaryFormSelectItem(Model.SysSystemEDIJobList.ToDictionary(p => p.EDIJobID, p => p.EDIJobNM), true), TitleName: SysSystemEDIJobDetail.Label_DepEDIJobID)
                </td>
                <th>
                    @Html.FormLabel(SysSystemEDIJobDetail.Label_EDIJobIsDisable)
                </th>
                <td>
                    @Html.InputCheckBox("IsDisable", SysSystemEDIJobDetail.Label_EDIJobIsDisable, EnumYN.N.ToString(), (Model.IsDisable == EnumYN.Y.ToString()) ? true : false)
                </td>
                <th id="Label_IgnoreWarning">
                    @Html.FormLabel(SysSystemEDIJobDetail.Label_IgnoreWarning)
                </th>
                <td id="TextBox_IgnoreWarning">
                    @Html.InputCheckBox("IgnoreWarning", SysSystemEDIJobDetail.Label_IgnoreWarning, EnumYN.Y.ToString(), (Model.IgnoreWarning == EnumYN.Y.ToString()))
                </td>
            </tr>
            <tr>
                <th>
                    @Html.FormLabel(SysSystemEDIJobDetail.Label_FileSource)
                </th>
                <td colspan="5">
                    @Html.InputTextBoxFor(model => model.FileSource, false, 300, TitleName: SysSystemEDIJobDetail.Label_FileSource)
                </td>
            </tr>
            <tr id="TextBox_URLPath">
                <th>
                    @Html.FormLabel(SysSystemEDIJobDetail.Label_URLPath)
                </th>
                <td colspan="5">
                    @Html.InputTextBoxFor(model => model.URLPath, false, 300, TitleName: SysSystemEDIJobDetail.Label_URLPath)
                </td>
            </tr>
        </table>
        <div class="text-left">
            @if (Model.ExecAction == EnumActionType.Add)
            {
                @Html.ButtonClient("AddButton", Resource.Button_Add, className: "btn")
            }
            @if (Model.ExecAction == EnumActionType.Update ||
                 Model.ExecAction == EnumActionType.Delete)
            {
                @Html.ButtonClient("UpdateButton", Resource.Button_Update, className: "btn")
                <span></span>
                @Html.ButtonClient("DeleteButton", Resource.Button_Delete, className: "btn")
            }
            @Html.ButtonClient("CancelButton", Resource.Button_Cancel, className: "btn")
        </div>

        using (Html.BeginConfirmDialog("dialog_Confirm", Resource.SysMsg_Title, Resource.SysMsg_DeleteConfirm))
        {
            @Html.ButtonClient("ConfirmOKButton", Resource.Button_Delete)
            @Html.ButtonClient("ConfirmNOButton", Resource.Button_Cancel)
        }
    }
}