@using System.Configuration
@using ERPAP.Models.Home
@using LionTech.Entity.ERP
@using LionTech.Utility
@using LionTech.Utility.ERP
@using LionTech.Web.ERPHelper
@using Resources
@model ERPAP.Models.Home.IndexModel

@{
    string version = Environment.GetEnvironmentVariable("version");
    var styleString = "display:none;";
    var errorMessage = string.Empty;
    if (TempData["SystemErrorMessage"] != null)
    {
        styleString = "display:block;";
        errorMessage = Convert.ToString(TempData["SystemErrorMessage"]);
    }
    string editionNo = ViewData[EnumViewDataItem.EditionNo.ToString()].ToString();
    bool isDevelopment = LionTechAppSettings.ServerEnvironment == EnumServerEnvironment.Developing;
    bool isOpenLoginLink = Convert.ToBoolean(ConfigurationManager.AppSettings[EnumAppSettingKey.IsOpenLoginLink.ToString()]);
    string loginBoxID = isDevelopment ? string.Empty : "loginBox";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7;" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title>@Resources.Resource.AP_Title</title>
    <link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/Site.css?@(editionNo)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/Site.MessageBox.css?@(editionNo)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/Site.Table.css?@(editionNo)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/Site.TabStrip.css?@(editionNo)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/ERPSite.css?@(editionNo)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/themes/base/jquery.ui.core.css?@(editionNo)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/themes/base/jquery.ui.theme.css?@(editionNo)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/jquery.ui.autocomplete.css?@(editionNo)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/jquery.tooltip.css?@(editionNo)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/Home/Index.css?@(editionNo)" rel="stylesheet" type="text/css" />
    <script type="text/javascript">document.domain = "@Common.GetEnumDesc(EnumSystemID.Domain)"; _enumERPAP = "@Common.GetEnumDesc(EnumSystemID.ERPAP)"; _enumPUBAP = "@Common.GetEnumDesc(EnumSystemID.PUBAP)";</script>
    <script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/jquery-1.7.2.min.js?@(editionNo)" type="text/javascript"></script>
    <script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/jquery.form.js?@(editionNo)" type="text/javascript"></script>
    <script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/jquery.blockUI.js?@(editionNo)" type="text/javascript"></script>
    <script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/jquery-ui-1.8.11.min.js?@(editionNo)" type="text/javascript"></script>
    <script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/GlobalResources/Resources@((Culture == Common.GetEnumDesc(LionTech.Entity.ERP.EnumCultureID.zh_TW) ? string.Empty : "." + Culture) + ".js")?@(editionNo)" type="text/javascript"></script>
    <script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/LionTechWebERPHelpers.js?@(editionNo)" type="text/javascript"></script>
    <script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/tooltip/jquery.tooltip.min.js?@(editionNo)" type="text/javascript"></script>
    @*<script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/jquery.signalR-2.2.1.min.js?@(editionNo)" type="text/javascript"></script>
    <script src='/signalr/js'></script>*@
    <script type="text/javascript">var version='@version';</script>
    @Html.Raw(ViewData[EnumViewDataItem.JsMsg.ToString()].ToString())
    <script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/Home/Index.js?@(editionNo)" type="text/javascript"></script>
</head>
<body style="background: #838383;">

    @using (Html.BeginFormSubmit("IndexForm"))
    {
        <div style="height: 100%;">
            <div id="topBox">
                <table cellspacing="0" cellpadding="0" style="width:100%;">
                    <tr>
                        <td align="center">
                            <div class="layout Header">
                                <table id="langTable" style="width:100%; height:30px;">
                                    <tr>
                                        <td valign="middle" align="center">
                                            <table>
                                                <tr>
                                                    <td valign="bottom"><span class="layout Header SysItem">|</span></td>
                                                    <td valign="bottom">
                                                        @Html.TextSubmitLink(
                                                            "Home",
                                                            "Index",
                                                            "CultureLinkFunKey",
                                                            Resources.Resource.AP_CultureInfo_zh_TW,
                                                            new List<string>() {
                                                                EnumCultureID.zh_TW.ToString()
                                                            },
                                                            className: "layout Header SysItem"
                                                        )
                                                    </td>
                                                    <td valign="bottom"><span class="layout Header SysItem">|</span></td>
                                                    <td valign="bottom">
                                                        @Html.TextSubmitLink(
                                                            "Home",
                                                            "Index",
                                                            "CultureLinkFunKey",
                                                            Resources.Resource.AP_CultureInfo_zh_CN,
                                                            new List<string>() {
                                                                EnumCultureID.zh_CN.ToString()
                                                            },
                                                            className: "layout Header SysItem"
                                                        )
                                                    </td>
                                                    <td valign="bottom"><span class="layout Header SysItem">|</span></td>
                                                    <td valign="bottom">
                                                        @Html.TextSubmitLink(
                                                            "Home",
                                                            "Index",
                                                            "CultureLinkFunKey",
                                                            Resources.Resource.AP_CultureInfo_en_US,
                                                            new List<string>() {
                                                                EnumCultureID.en_US.ToString()
                                                            },
                                                            className: "layout Header SysItem"
                                                        )
                                                    </td>
                                                    <td valign="bottom"><span class="layout Header SysItem">|</span></td>
                                                    <td valign="bottom">
                                                        @Html.TextSubmitLink(
                                                            "Home",
                                                            "Index",
                                                            "CultureLinkFunKey",
                                                            Resources.Resource.AP_CultureInfo_th_TH,
                                                            new List<string>() {
                                                                EnumCultureID.th_TH.ToString()
                                                            },
                                                            className: "layout Header SysItem"
                                                        )
                                                    </td>
                                                    <td valign="bottom"><span class="layout Header SysItem">|</span></td>
                                                    <td valign="bottom">
                                                        @Html.TextSubmitLink(
                                                            "Home",
                                                            "Index",
                                                            "CultureLinkFunKey",
                                                            Resources.Resource.AP_CultureInfo_ja_JP,
                                                            new List<string>() {
                                                                EnumCultureID.ja_JP.ToString()
                                                            },
                                                            className: "layout Header SysItem"
                                                        )
                                                    </td>
                                                    <td valign="bottom"><span class="layout Header SysItem">|</span></td>
                                                    <td valign="bottom">
                                                        @Html.TextSubmitLink(
                                                            "Home",
                                                            "Index",
                                                            "CultureLinkFunKey",
                                                            Resources.Resource.AP_CurtureInfo_ko_KR,
                                                            new List<string>() {
                                                                EnumCultureID.ko_KR.ToString()
                                                            },
                                                            className: "layout Header SysItem"
                                                        )
                                                    </td>
                                                    <td valign="bottom"><span class="layout Header SysItem">|</span></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="layout MenuBorder"></div>

                            <div id="layoutMessage" class="layout Message" style="@styleString">
                                <table style="width:100%; height:25px;">
                                    <tr>
                                        <td valign="middle" align="center">
                                            <div id="layoutMessageBody">@errorMessage</div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="height: 77%; background: #FFFFFF;">
				@if (isDevelopment == false)
				{
					<table id="loginNewsBox" width="1060" CELLPADDING="0" CELLSPACING="0" BORDER="0" align="center">
						<tr>
							<td width="540"></td>
							<td width="520">
								<iframe src="@Common.GetEnumDesc(EnumSystemID.PUBAP)/_share/LoginNews/News.html" width="520" height="485" scrolling="no" frameBorder="0"></iframe>
							</td>						
						</tr>
					</table>
				}
				<div id="@loginBoxID">
					<table cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td bgcolor="#FFFFFF" align="center" style="max-height: 450px;">
								<table>
									<tr>
										<td align="center">
											<div id="loginLogo"></div>
										</td>
									</tr>
									<tr>
										<td align="left">
											<div id="EnvironmentRemindBox">
												@Html.FormLabel(Model.EnvironmentRemind)
												@Html.InputTextBox("EnvironmentRemind", Model.EnvironmentRemind, inputType: EnumInputType.TextBoxHidden)
											</div>
											@if (string.IsNullOrWhiteSpace(Model.ProxyLoginToAp) == false)
											{
												<div id="ProxyLoginToApBox">
													@Html.FormLabel(string.Format(HomeIndex.Label_LoginTo, Model.ProxyLoginToAp))
													@Html.InputTextBox("ProxyLoginToAp", Model.ProxyLoginToAp, inputType: EnumInputType.TextBoxHidden)
												</div>
											}
										    @Html.InputTextBox("LoginType", IndexModel.EnumLoginType.DigipassOTP.ToString(), inputType: EnumInputType.TextBoxHidden)
											@*<table id="QRCodeLogin" style="display: none; width: 365px;">
													<tr>
														<td style="text-align: center;"></td>
													</tr>
												</table>*@
											<table id="AccountPassWord">
												<tr>
													<td colspan="3" style="padding: 5px;">
														<span>@Html.FormLabel(HomeIndex.Label_CultureID)</span>
														@Html.InputComboBoxFor(model => model.CultureID, Model.GetDictionaryFormSelectItem(Model.EntityBaseCultureIDList, false), false, TitleName: HomeIndex.Label_CultureID)
													</td>
												</tr>
												<tr>
													<td style="padding: 5px;">
														<span>
															@Html.InputTextBoxFor(model => model.TargetUrl, Size: 600)
															@Html.InputTextBoxFor(model => model.ProxyLoginSystemID)
															@Html.FormLabel(HomeIndex.Label_UserID)
														</span>
														@Html.InputTextBoxFor(model => model.UserID, Size: 10, TitleName: HomeIndex.Label_UserID)
													</td>
													<td style="padding: 5px;">
														<span>@Html.FormLabel(HomeIndex.Label_UserPassword)</span>
														@Html.InputTextBoxFor(model => model.UserPassword, Size: 10, TitleName: HomeIndex.Label_UserPassword)
													</td>
													<td style="padding: 5px;">
														@Html.ButtonClient("LoginButton", HomeIndex.Label_Login, className: "btn greenhover")
													</td>
												</tr>
												<tr>
													<td colspan="3" id="CapsLockRemind" style="display: none; padding-left: 5px;">
														<div style="font: 12px Arial; color: Red;">
															@Html.FormLabel(HomeIndex.Label_CapsLockRemind)
														</div>
													</td>
												</tr>
												<tr>
                                                    <td colspan="3" id="OTPRemind" style="padding-left: 5px;">
                                                        <div style="font: 12px Arial; color: Red;">
                                                            @Html.FormLabel(HomeIndex.Label_OTPRemind)
                                                        </div>
                                                        @if (isOpenLoginLink)
                                                        {
                                                            <br />
                                                            <a style="color: blue;text-decoration:underline;" target="_blank" href="https://docs.google.com/document/u/2/d/e/2PACX-1vSyzVJRaZu8gcEU1YF5NJcHNmAh5PjFXaiuCJtxCH2IZEGUV6889L0Ebe8nrAwD_oDL-Vx1v7fKT46Q/pub">IPhone多因素認證App閃退處理</a>
                                                        }
                                                    </td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</div>
            </div>
            <div id="floorBox">
                <table cellpadding="0" cellspacing="0" width="100%;">
                    <tr>
                        <td bgcolor="#EFEFEF" align="center" style="padding: 10px; border-top: 1px solid silver;">
                            <table id="imgLinkBox" cellpadding="5">
                                <tr>
                                    <td><a href="http://www.xinmedia.com/" target="_blank"><img src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/images/logo_xinmedia.png" border="0" /></a></td>
                                    <td><a href="http://www.liontravel.com/" target="_blank"><img src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/images/logo_lionb2c.png" border="0" /></a></td>
                                    <td><a href="http://b2b.liontravel.com/" target="_blank"><img src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/images/logo_lionb2b.png" border="0"/></a></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table align="center" cellpadding="0" cellspacing="10" style="width:100%; background: #838383;">
                    <tr>
                        <td align="center">
                            <span style="padding-right:7px;">
                                @Html.TextLink(HomeIndex.Text_PublicRelationship, "http://xms.liontravel.com/xms/index.php?reload=1&courseID=26", css: "layout Header Bottom", Target: EnumLinkTarget._blank)
                            </span>
                            <span style="padding-right:7px;">
                                @Html.TextLink(HomeIndex.Text_Sharing, "http://xms.liontravel.com/xms/index.php?reload=1&courseID=5906", css: "layout Header Bottom", Target: EnumLinkTarget._blank)
                            </span>
                            <span style="padding-right:7px;">
                                @Html.TextLink(HomeIndex.Text_Marketing, "http://xms.liontravel.com/xms/index.php?reload=1&courseID=5967", css: "layout Header Bottom", Target: EnumLinkTarget._blank)
                            </span>
                            <span style="padding-right:7px;">
                                @Html.TextLink(HomeIndex.Text_Video, "http://xms.liontravel.com/xms/index.php?reload=1&courseID=6030", css: "layout Header Bottom", Target: EnumLinkTarget._blank)
                            </span>
                            <span>
                                @Html.TextLink(HomeIndex.Text_LionToday, "http://www.liontravel.com/Comm/liontoday/erp/index.html", css: "layout Header Bottom", Target: EnumLinkTarget._blank)
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
    
    @if (TempData["SystemAlertMessage"] != null)
    {
        @Html.MessageBoxAlert("SysMessage", Resource.SysMsg_Title, Convert.ToString(TempData["SystemAlertMessage"]), Resource.Button_Close)
    }

</body>
</html>
