@using LionTech.Entity.B2P
@using LionTech.Utility
@using LionTech.Utility.B2P
@using LionTech.Web.ERPHelper
@using Resources

@{
    var styleString = "display:none;";
    var errorMessage = string.Empty;
    if (TempData["SystemErrorMessage"] != null)
    {
        styleString = "display:block;";
        errorMessage = Convert.ToString(TempData["SystemErrorMessage"]);
    }
    string fullDateTimeNumber = Common.GetDateTimeString();
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7;" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title>@Resource.AP_Title</title>
    <link href="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Content/Site.css?@(fullDateTimeNumber)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Content/Site.MessageBox.css?@(fullDateTimeNumber)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Content/Site.Table.css?@(fullDateTimeNumber)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Content/Site.TabStrip.css?@(fullDateTimeNumber)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Content/Serp.Layout.css?@(fullDateTimeNumber)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Content/Serp.Table.css?@(fullDateTimeNumber)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Content/Serp.Util.css?@(fullDateTimeNumber)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Content/Serp.BstrapUtil.css?@(fullDateTimeNumber)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Content/mobileview.css?@(fullDateTimeNumber)" rel="stylesheet" media="screen and (min-width:320px) and (max-width:1023px)" />
    <link href="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Content/themes/base/jquery.ui.core.css?@(fullDateTimeNumber)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Content/themes/base/jquery.ui.theme.css?@(fullDateTimeNumber)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Content/jquery.ui.autocomplete.css?@(fullDateTimeNumber)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Content/jquery.tooltip.css?@(fullDateTimeNumber)" rel="stylesheet" type="text/css" />
    <script type="text/javascript">_domain = "@Common.GetEnumDesc(EnumSystemID.Domain)"; _enumB2PAP = "@Common.GetEnumDesc(EnumSystemID.B2PAP)";</script>
    <script src="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Scripts/jquery-1.7.2.min.js?@(fullDateTimeNumber)" type="text/javascript"></script>
    <script src="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Scripts/jquery.form.js?@(fullDateTimeNumber)" type="text/javascript"></script>
    <script src="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Scripts/jquery.blockUI.js?@(fullDateTimeNumber)" type="text/javascript"></script>
    <script src="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Scripts/jquery-ui-1.8.11.min.js?@(fullDateTimeNumber)" type="text/javascript"></script>
    <script src="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Scripts/GlobalResources/Resources@((Culture == Common.GetEnumDesc(LionTech.Entity.B2P.EnumCultureID.zh_TW) ? string.Empty : "." + Culture) + ".js")?@(fullDateTimeNumber)" type="text/javascript"></script>
    <script src="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Scripts/LionTechWebERPHelpers.js?@(fullDateTimeNumber)" type="text/javascript"></script>
    @Html.Raw(ViewData[EnumViewDataItem.JsMsg.ToString()].ToString())
</head>
<body class="greenStyle">

    <div id="header">

        <div class="header-main">
            <div class="header_content">
            
                <div id="logo"></div>
                <div id="sitename"><a href="#">@Resource.AP_Menu_Title</a></div>
                
                <a href="#" id="navicon4"></a>
                
                <div id="nav">
                    @if (ViewData[EnumViewDataItem.UserMenu.ToString()] != null)
                    {
                        @Html.Raw(ViewData[EnumViewDataItem.UserMenu.ToString()].ToString())
                    }
                </div>

                <div id="topnav">
                	<a href="javascript:void(0);" id="navicon2"></a>
                    <ul>
                    	<li class="hasmenu">
                            <a href="javascript:void(0);" class="navtxt"><span>@Resource.AP_Menu_Culture</span></a>
                            <div class="subnav">
                                <ul>
                                    <li>@Html.TextLink(Resource.AP_CultureInfo_zh_TW, string.Concat(Common.GetEnumDesc(EnumSystemID.B2PAP), "/Pub/Bulletin?val2=zh_TW"), Target: EnumLinkTarget._self)</li>
                                    <li>@Html.TextLink(Resource.AP_CultureInfo_zh_CN, string.Concat(Common.GetEnumDesc(EnumSystemID.B2PAP), "/Pub/Bulletin?val2=zh_CN"), Target: EnumLinkTarget._self)</li>
                                    <li>@Html.TextLink(Resource.AP_CultureInfo_en_US, string.Concat(Common.GetEnumDesc(EnumSystemID.B2PAP), "/Pub/Bulletin?val2=en_US"), Target: EnumLinkTarget._self)</li>
                                    <li>@Html.TextLink(Resource.AP_CultureInfo_ja_JP, string.Concat(Common.GetEnumDesc(EnumSystemID.B2PAP), "/Pub/Bulletin?val2=ja_JP"), Target: EnumLinkTarget._self)</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="function-bar">
                	<span class="logintxt">
                        @string.Format("{0} {1}{2}", ViewData[EnumViewDataItem.UserID.ToString()], ViewData[EnumViewDataItem.UserNM.ToString()], Resource.AP_Menu_HelloWord)
                    </span>
                    <span class="sep">|</span>
                    <span class="func-menu dropdown">
                    	<a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle"><i class="icon menu2"></i></a>
                        <a href="javascript:void(0);" id="navicon1"></a>
                    	<ul class="dropdown-menu">
                            <li><a href="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Pub/MenuSetting">@Resource.AP_Menu_MenuSetting</a></li>
                            <li class="divider"></li>
                            <li><a href="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Pub/Bulletin?val1=1">Menu1</a></li>
                            <li class="divider"></li>
                            <li><a href="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Pub/Bulletin?val1=2">Menu2</a></li>
                            <li class="divider"></li>
                            <li><a href="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Pub/Bulletin?val1=3">Menu3</a></li>
                            <li class="divider"></li>
                            <li><a href="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Home/Logout">@Resource.AP_Menu_Logout</a></li>
                        </ul>
                    </span>
                </div>
            </div> 
        </div>

        <div class="layout MenuBorder"></div>

        <div id="layoutMessage" class="layout Message" style="@styleString">
            <table style="width:100%;height:25px;">
                <tr>
                    <td valign="middle" align="center">
                        <div id="layoutMessageBody">@errorMessage</div>
                    </td>
                </tr>
            </table>
        </div>
        
    </div>

    <table cellspacing="0" cellpadding="0" style="width:100%;">
        <tr>
            <td>

                @RenderBody()

                @if (TempData["SystemAlertMessage"] != null)
                {
                    @Html.MessageBoxAlert("SysMessage", Resource.SysMsg_Title, Convert.ToString(TempData["SystemAlertMessage"]), Resource.Button_Close)
                }

            </td>
        </tr>
    </table>

    <script src="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Scripts/bootstrap.min.js?@(fullDateTimeNumber)" type="text/javascript"></script>
    <script src="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Scripts/init.js?@(fullDateTimeNumber)" type="text/javascript"></script>
    <script src="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Scripts/tooltip/jquery.tooltip.min.js?@(fullDateTimeNumber)" type="text/javascript"></script>
</body>
</html>
<script src="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Scripts/_Layout.js?@(fullDateTimeNumber)" type="text/javascript"></script>    
