@{ Layout = "~/Views/_Layout.cshtml"; }
@using LionTech.Entity.B2P
@using LionTech.Entity.B2P.Sys
@using LionTech.Utility
@using LionTech.Web.ERPHelper
@using Resources
@model B2PAP.Models.Sys.SystemEDIConModel

@{
    string fullDateTimeNumber = Common.GetDateTimeString();
}

<script src="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Scripts/Sys/SystemEDICon.js?@(fullDateTimeNumber)" type="text/javascript"></script>

@using (Html.BeginFormSubmit("SystemEDIConForm"))
{
    using (Html.BeginTabs(B2PAP.Models._BaseAPModel.EnumTabController.Sys.ToString(), Model.SysEDITabList))
    {
        @Html.InputTextBox("SysID", string.Empty, inputType: EnumInputType.TextBoxHidden)
        @Html.InputTextBox("EDIFlowID", string.Empty, inputType: EnumInputType.TextBoxHidden)
        @Html.InputTextBox("EDIConID", string.Empty, inputType: EnumInputType.TextBoxHidden)

        <table class="tblsearch">
            <tr>
                <td>
                    <table>
                        <tr>
                            <th>
                                @Html.FormLabel(SysSystemEDICon.Label_SysID, IsRequired: true)
                            </th>
                            <td>
                                @Html.InputComboBoxFor(model => model.QuerySysID, Model.GetDictionaryFormSelectItem(Model.EntitySysUserSystemSysIDList, false), isDisabled: false, TitleName: SysSystemEDICon.Label_SysID)
                            </td>
                            <th>
                                @Html.FormLabel(SysSystemEDICon.Label_EDIFlowID)
                            </th>
                            <td>
                                @Html.InputComboBox("QueryEDIFlowID", Model.QueryEDIFlowID, Model.GetDictionaryFormSelectItem(Model.EntitySysSystemEDIFlowList, true), isDisabled: false, TitleName: SysSystemEDICon.Label_EDIFlowID)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                @Html.ButtonSubmit("Sys", "SystemEDICon", "SearchButton", Resource.Button_Select, className: "btnSearch")
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <table id="SystemEDIConTable" class="tblzebra">
            <tr>
                <th style="width: 15px;">
                    @Html.ImageButton("MoveUp", string.Format("{0}{1}", @Common.GetEnumDesc(EnumSystemID.B2PAP), "/Content/images/imgSortUp.png"))
                    @Html.ImageButton("MoveDown", string.Format("{0}{1}", @Common.GetEnumDesc(EnumSystemID.B2PAP), "/Content/images/imgSortDown.png"))
                </th>
                <th style="width: 30px;">@SysSystemEDICon.Text_Detail</th>

                <th>@SysSystemEDICon.Label_SysID</th>
                <th>@SysSystemEDICon.Label_EDIFlowID</th>
                <th>@SysSystemEDICon.Label_EDIConID</th>
                <th>@SysSystemEDICon.Label_ProviderName</th>
                <th>@SysSystemEDICon.Label_SortOrder</th>
                <th>@SysSystemEDICon.Label_UpdUserNM</th>
                <th>@SysSystemEDICon.Label_UpdDT</th>
            </tr>
            @if (Model.EntitySystemEDIConList != null)
            {
                string rowListNM = string.Empty;
                EntitySystemEDICon.SystemEDICon data = new EntitySystemEDICon.SystemEDICon();
                //foreach (EntitySystemEDICon.SystemEDICon data in Model.EntitySystemEDIConList)
                for (int rowCount = 0; rowCount < Model.EntitySystemEDIConList.Count; rowCount++)
                {
                    data = Model.EntitySystemEDIConList[rowCount];
                    rowListNM = "EDIConValueList[" + rowCount + "]";
                    <tr>
                        <td>
                            @Html.RadioButton("IsMoved",false)
                            @Html.InputTextBox(rowListNM + ".AfterSortOrder", data.SortOrder.StringValue(), inputType: EnumInputType.TextBoxHidden)
                            @Html.InputTextBox(rowListNM + ".BeforeSortOrder", data.SortOrder.StringValue(), inputType: EnumInputType.TextBoxHidden)
                            @Html.InputTextBox(rowListNM + ".EDIFlowID", data.EDIFlowID.GetValue(), inputType: EnumInputType.TextBoxHidden)
                            @Html.InputTextBox(rowListNM + ".EDIConID", data.EDIConID.GetValue(), inputType: EnumInputType.TextBoxHidden)
                        </td> 
                        <td data-th="@SysSystemEDICon.Text_Detail：" style="text-align: center">
                            @Html.TextSubmitLink(
                                "Sys",
                                "SystemEDIConDetail",
                                "LinkFunKeyDetail",
                                SysSystemEDICon.Text_Detail,
                                new List<string>() {
                                    data.SysID.GetValue(),
                                    data.EDIFlowID.GetValue(),
                                    data.EDIConID.GetValue()
                                }
                            )
                        </td>
                            
                        <td data-th="@SysSystemEDICon.Table_SysID：" title="@SysSystemEDICon.Table_SysID">@Html.Raw(data.SysNM.HtmlValue())</td>
                        <td data-th="@SysSystemEDICon.Table_EDIFlowID：" title="@SysSystemEDICon.Table_EDIFlowID">@Html.Raw(data.EDIFlowNM.HtmlValue())</td>
                        <td data-th="@SysSystemEDICon.Table_EDIConID：" title="@SysSystemEDICon.Table_EDIConID">@Html.Raw(data.EDIConNM.HtmlValue())</td>
                        <td data-th="@SysSystemEDICon.Table_ProviderName：" title="@SysSystemEDICon.Table_ProviderName">@Html.Raw(data.ProviderName.HtmlValue())</td>
                        <td data-th="@SysSystemEDICon.Table_SortOrder：" title="@SysSystemEDICon.Table_SortOrder">@Html.Raw(data.SortOrder.HtmlValue())</td>
                        <td data-th="@SysSystemEDICon.Table_UpdUserID：" title="@SysSystemEDICon.Table_UpdUserID">@Html.Raw(data.UpdUserID.HtmlValue())</td>
                        <td data-th="@SysSystemEDICon.Table_UpdDT：" title="@SysSystemEDICon.Table_UpdDT">@Html.Raw(data.UpdDt.HtmlValue())</td>
                    </tr>
                }
            }
        </table>

        <div>
            @Html.ButtonSubmit("Sys", "SystemEDIConDetail", "AddButton", Resource.Button_Add, className: "btn")
            @Html.ButtonSubmit("Sys", "SystemEDIConDetail", "SaveButton", Resource.Button_Save, className: "btn")
            @Html.ButtonSubmit("Sys", "SystemEDIConDetail", "CancelButton", Resource.Button_Cancel, className: "btn")
        </div>    
    }
}