@{ Layout = "~/Views/_Layout.cshtml"; }
@using LionTech.Entity.B2P
@using LionTech.Entity.B2P.Sys
@using LionTech.Utility
@using LionTech.Web.ERPHelper
@using Resources
@model B2PAP.Models.Sys.SystemFunGroupModel

<script src="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Scripts/Sys/SystemFunGroup.js" type="text/javascript"></script>

@using (Html.BeginFormSubmit("SystemFunGroupForm"))
{
    using (Html.BeginTabs(B2PAP.Models._BaseAPModel.EnumTabController.Sys.ToString(), Model.SysSystemTabList))
    {
        @Html.InputTextBox("SysID", string.Empty, inputType: EnumInputType.TextBoxHidden)
        @Html.InputTextBox("FunControllerID", string.Empty, inputType: EnumInputType.TextBoxHidden)

        <table class="tblsearch">
            <tr>
                <td>
                    <table>
                        <tr>
                            <th>
                                @Html.FormLabel(SysSystemFunGroup.Label_SysID, IsRequired: true)
                            </th>
                            <td>
                                @Html.InputComboBoxFor(model => model.QuerySysID, Model.GetDictionaryFormSelectItem(Model.EntitySysUserSystemSysIDList, true), isDisabled: false, TitleName: SysSystemFunGroup.Label_SysID)
                            </td>
                            <th>
                                @Html.FormLabel(SysSystemFunGroup.Label_FunGroup)
                            </th>
                            <td>
                                @Html.InputComboBoxFor(model => model.QueryFunControllerID, Model.GetDictionaryFormSelectItem(Model.EntitySysSystemFunControllerIDList, true), isDisabled: false)
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap" colspan="4">
                                @Html.ButtonClient("SelectButton", Resource.Button_Select, className: "btnSearch")
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        using (Html.BeginPager(Model.PageIndex, Model.PageSize, Model.RowCount))
        {
            <table id="SystemFunGroupTable" class="tblzebra">
                <tr>
                    <th style="width: 30px;">@SysSystemFunGroup.Text_Detail</th>
                    <th>@SysSystemFunGroup.Table_SysNM</th>
                    <th>@SysSystemFunGroup.Table_FunGroup</th>
                    <th>@SysSystemFunGroup.Table_SortOrder</th>
                    <th>@SysSystemFunGroup.Table_UpdUserNM</th>
                    <th>@SysSystemFunGroup.Table_UpdDT</th>
                </tr>
                @if (Model.EntitySystemFunGroupList != null)
                {
                    foreach (EntitySystemFunGroup.SystemFunGroup data in Model.EntitySystemFunGroupList)
                    {
                        <tr>
                            <td data-th="@SysSystemFunGroup.Text_Detail：" class="center">
                                @Html.TextSubmitLink(
                                    "Sys",
                                    "SystemFunGroupDetail",
                                    "LinkFunKey",
                                    SysSystemFunGroup.Text_Detail,
                                    new List<string>()
                                    {
                                        data.SysID.GetValue(),
                                        data.FunControllerID.GetValue()
                                    }
                                    )
                            </td>
                            <td data-th="@SysSystemFunGroup.Table_SysNM：" title="@SysSystemFunGroup.Table_SysNM">@Html.Raw(data.SysNM.HtmlValue())</td>
                            <td data-th="@SysSystemFunGroup.Table_FunGroup：" title="@SysSystemFunGroup.Table_FunGroup">@Html.Raw(data.FunGroup.HtmlValue())</td>
                            <td data-th="@SysSystemFunGroup.Table_SortOrder：" title="@SysSystemFunGroup.Table_SortOrder">@Html.Raw(data.SortOrder.HtmlValue())</td>
                            <td data-th="@SysSystemFunGroup.Table_UpdUserNM：" title="@SysSystemFunGroup.Table_UpdUserNM">@Html.Raw(data.UpdUserNM.HtmlValue())</td>
                            <td data-th="@SysSystemFunGroup.Table_UpdDT：" title="@SysSystemFunGroup.Table_UpdDT">@Html.Raw(data.UpdDT.HtmlValue())</td>
                        </tr>
                    }
                }
            </table>
        }

        <div>
            @Html.ButtonSubmit("Sys", "SystemFunGroupDetail", "AddButton", Resource.Button_Add, className: "btn")
        </div>
    }
}