@{ Layout = "~/Views/_Layout.cshtml"; }
@using LionTech.Entity
@using LionTech.Entity.B2P
@using LionTech.Entity.B2P.Sys
@using LionTech.Utility
@using LionTech.Web.ERPHelper
@using Resources
@model B2PAP.Models.Sys.UserFunctionModel

@{
    string fullDateTimeNumber = Common.GetDateTimeString();
}

<script src="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Scripts/Sys/UserFunction.js?@(fullDateTimeNumber)" type="text/javascript"></script>

@using (Html.BeginFormSubmit("UserFunctionForm"))
{
    using (Html.BeginTabs(B2PAP.Models._BaseAPModel.EnumTabController.Sys.ToString(), Model.SysUserRoleFunctionTabList))
    {
        @Html.InputTextBox("UserID", Model.UserID, inputType: EnumInputType.TextBoxHidden)

        <table class="tblvertical">
            <tr>
                <th nowrap="nowrap">
                    @Html.FormLabel(SysUserFunction.Label_UserID)
                </th>
                <td nowrap="nowrap"class="width">
                    @Html.InputTextBox("UserNMReadOnlyText", Model.EntityUserRawData.UserNM.HtmlValue(), ReadOnly: true, maximumLength: 200, Size: 30)
                </td>
            </tr>
            <tr>
                <td nowrap="nowrap" colspan="2" class="padding grey bordertop">
                    @if (Model.ExecAction == EnumActionType.Update)
                    {
                        @Html.ButtonClient("UpdateButton", SysUserFunction.Button_UpdateAndGenMenu, className: "btn")
                    }
                    @Html.ButtonClient("CancelButton", Resource.Button_Cancel, className: "btn")
                </td>
            </tr>
        </table>

        <div style="padding: 10px 10px 6px 16px; font-weight: bold;">@SysUserFunction.Text_UserFunSetting</div>

        <table id="SystemFunTable" class="tblvertical">
            <tr>
                <th nowrap="nowrap">@SysUserFunction.Table_Delete</th>
                <th nowrap="nowrap">@SysUserFunction.Table_SysNM</th>
                <th nowrap="nowrap">@SysUserFunction.Table_FunGroup</th>
                <th nowrap="nowrap">@SysUserFunction.Table_FunNM</th>
                <th nowrap="nowrap">@SysUserFunction.Table_UpdUserNM</th>
                <th nowrap="nowrap">@SysUserFunction.Table_UpdDT</th>
            </tr>
            @if (Model.EntityUserFunctionList != null)
            {
                string rowListNM = string.Empty;
                int rowCount;

                EntityUserFunction.UserFunction data = new EntityUserFunction.UserFunction();
                for (rowCount = 0; rowCount < Model.EntityUserFunctionList.Count; rowCount++)
                {
                    data = Model.EntityUserFunctionList[rowCount];
                    rowListNM = "systemUserFunctionValueList[" + rowCount + "]";

                    <tr>
                        <td nowrap="nowrap" class="center" style="width: 4%;">
                            @if (data.HasAuth.GetValue() == EnumYN.Y.ToString())
                            {
                                @Html.ImageButton("DeleteDataRowButton", string.Format("{0}{1}", Common.GetEnumDesc(EnumSystemID.B2PAP), "/Content/images/delete.png"))
                                <span style="display: none;">@Html.InputCheckBox("IsProcess", string.Empty, EnumYN.Y.ToString(), false)</span>
                            }
                        </td>
                        <td nowrap="nowrap" title="@SysUserFunction.Table_SysNM" style="width: 24%;">
                            @Html.InputTextBox(rowListNM + ".SysID", data.SysID.GetValue(), inputType: EnumInputType.TextBoxHidden)
                            @Html.Raw(data.SysNM.HtmlValue())
                        </td>
                        <td nowrap="nowrap" title="@SysUserFunction.Table_FunGroup" style="width: 24%;">
                            @Html.InputTextBox(rowListNM + ".FunControllerID", data.FunControllID.GetValue(), inputType: EnumInputType.TextBoxHidden)
                            @Html.Raw(data.FunGroup.HtmlValue())
                        </td>
                        <td nowrap="nowrap" title="@SysUserFunction.Table_FunNM" style="width: 24%;">
                            @Html.InputTextBox(rowListNM + ".FunActionName", data.FunActionName.GetValue(), inputType: EnumInputType.TextBoxHidden)
                            @Html.Raw(data.FunNM.HtmlValue())
                        </td>
                        <td nowrap="nowrap" title="@SysUserFunction.Table_UpdUserNM" style="width: 12%;">@Html.Raw(data.UpdUserNM.HtmlValue())</td>
                        <td nowrap="nowrap" title="@SysUserFunction.Table_UpdDT" style="width: 12%;">@Html.Raw(data.UpdDT.HtmlValue())</td>
                    </tr>
                }

                rowListNM = "systemUserFunctionValueList[" + rowCount + "]";
                <tr>
                    <td nowrap="nowrap" class="center" style="width: 4%;">
                        @Html.ImageButton("DeleteRowButton", string.Format("{0}{1}", Common.GetEnumDesc(EnumSystemID.B2PAP), "/Content/images/delete.png"))
                        <span style="display: none;">@Html.InputCheckBox("IsProcess", string.Empty, EnumYN.Y.ToString(), false)</span>
                    </td>
                    <td nowrap="nowrap" title="@SysUserFunction.Table_SysNM" style="width: 24%;">
                        @Html.InputComboBox(rowListNM + ".SysID", string.Empty, Model.GetDictionaryFormSelectItem(Model.EntitySysUserSystemSysIDList, true), TitleName: SysUserFunction.Label_SysID)
                    </td>
                    <td nowrap="nowrap" title="@SysUserFunction.Table_FunGroup" style="width: 24%;">
                        @Html.InputComboBox(rowListNM + ".FunControllerID", string.Empty, Model.GetDictionaryFormSelectItem(Model.EntitySysSystemFunControllerIDList, true), TitleName: SysUserFunction.Label_FunControllerID)
                    </td>
                    <td nowrap="nowrap" title="@SysUserFunction.Table_FunNM" style="width: 24%;">
                        @Html.InputComboBox(rowListNM + ".FunActionName", string.Empty, Model.GetDictionaryFormSelectItem(Model.EntitySysSystemFunNameList, true), TitleName: SysUserFunction.Label_FunActionName)
                    </td>
                    <td nowrap="nowrap" title="@SysUserFunction.Table_UpdUserNM" style="width: 12%;"></td>
                    <td nowrap="nowrap" title="@SysUserFunction.Table_UpdDT" style="width: 12%;"></td>
                </tr>
            }
            else
            {
                <tr>
                    <td nowrap="nowrap" class="center" style="width: 4%;">
                        @Html.ImageButton("DeleteRowButton", string.Format("{0}{1}", Common.GetEnumDesc(EnumSystemID.B2PAP), "/Content/images/delete.png"))
                        <span style="display: none;">@Html.InputCheckBox("IsProcess", string.Empty, EnumYN.Y.ToString(), false)</span>
                    </td>
                    <td nowrap="nowrap" title="@SysUserFunction.Table_SysNM" style="width: 24%;">
                        @Html.InputComboBox("systemUserFunctionValueList[0].SysID", string.Empty, Model.GetDictionaryFormSelectItem(Model.EntitySysUserSystemSysIDList, true), TitleName: SysUserFunction.Label_SysID)
                    </td>
                    <td nowrap="nowrap" title="@SysUserFunction.Table_FunGroup" style="width: 24%;">
                        @Html.InputComboBox("systemUserFunctionValueList[0].FunControllerID", string.Empty, Model.GetDictionaryFormSelectItem(Model.EntitySysSystemFunControllerIDList, true), TitleName: SysUserFunction.Label_FunControllerID)
                    </td>
                    <td nowrap="nowrap" title="@SysUserFunction.Table_FunNM" style="width: 24%;">
                        @Html.InputComboBox("systemUserFunctionValueList[0].FunActionName", string.Empty, Model.GetDictionaryFormSelectItem(Model.EntitySysSystemFunNameList, true), TitleName: SysUserFunction.Label_FunActionName)
                    </td>
                    <td nowrap="nowrap" title="@SysUserFunction.Table_UpdUserNM" style="width: 12%;"></td>
                    <td nowrap="nowrap" title="@SysUserFunction.Table_UpdDT" style="width: 12%;"></td>
                </tr>
            }
        </table>

        <div>
            @Html.ButtonClient("AddRowButton", SysUserFunction.Button_AddRow, className: "btn")
        </div>
    }
}