@{ Layout = "~/Views/_Layout.cshtml"; }
@using LionTech.Entity
@using LionTech.Entity.B2P
@using LionTech.Entity.B2P.Sys
@using LionTech.Utility
@using LionTech.Web.ERPHelper
@using Resources
@model B2PAP.Models.Sys.UserSystemModel

<script src="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Scripts/Sys/UserSystem.js" type="text/javascript"></script>

@using (Html.BeginFormSubmit("UserSystemForm"))
{
    using (Html.BeginTabs(B2PAP.Models._BaseAPModel.EnumTabController.Sys.ToString(), Model.SysUserSystemTabList))
    {
        @Html.InputTextBox("UserID", string.Empty, inputType: EnumInputType.TextBoxHidden)

        <table class="tblsearch">
            <tr>
                <td>
                    <table>
                        <tr>
                            <th nowrap="nowrap">
                                @Html.FormLabel(SysUserSystem.Label_UserID)
                            </th>
                            <td nowrap="nowrap">
                                @Html.InputTextBoxFor(model => model.QueryUserID, false, 10, TitleName: SysUserSystem.Label_UserID)
                                @Html.ButtonClient("Help03Button", "?", className: "qmark")
                            </td>
                            <th nowrap="nowrap">
                                @Html.FormLabel(SysUserSystem.Label_UserNM)
                            </th>
                            <td nowrap="nowrap" class="width">
                                @Html.InputTextBoxFor(model => model.QueryUserNM, false, 10, TitleName: SysUserSystem.Label_UserNM)
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap" colspan="4" class="padding grey bordertop">
                                @Html.ButtonClient("SelectButton", Resource.Button_Select, className: "btnSearch")
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        
        using (Html.BeginPager(Model.PageIndex, Model.PageSize, Model.RowCount))
        {
            <table id="UserSystemTable" class="tblzebra">
                <tr>
                    <th nowrap="nowrap" style="width: 30px;">@SysUserSystem.Text_Detail</th>
                    <th nowrap="nowrap">@SysUserSystem.Table_UserNM</th>
                    <th nowrap="nowrap">@SysUserSystem.Table_UnitNM</th>
                    <th nowrap="nowrap">@SysUserSystem.Table_IsLeft</th>
                    <th nowrap="nowrap">@SysUserSystem.Table_IsDisable</th>
                    <th nowrap="nowrap">@SysUserSystem.Table_UpdUserNM</th>
                    <th nowrap="nowrap">@SysUserSystem.Table_UpdDT</th>
                </tr>
                @if (Model.EntityUserSystemList != null)
                {
                    foreach (EntityUserSystem.UserSystem data in Model.EntityUserSystemList)
                    {
                        <tr>
                            <td data-th="@SysUserSystem.Text_Detail：" nowrap="nowrap" class="center">
                                @Html.TextSubmitLink(
                                    "Sys",
                                    "UserSystemDetail",
                                    "LinkFunKey",
                                    SysUserSystem.Text_Detail,
                                    new List<string>() {
                                        data.UserID.GetValue()
                                    }
                                )
                            </td>
                            <td data-th="@SysUserSystem.Table_UserNM：" nowrap="nowrap" title="@SysUserSystem.Table_UserNM">@data.UserNM.HtmlValue()</td>
                            <td data-th="@SysUserSystem.Table_UnitNM：" nowrap="nowrap" title="@SysUserSystem.Table_UnitNM">@data.UnitNM.HtmlValue()</td>
                            <td data-th="@SysUserSystem.Table_IsLeft：" nowrap="nowrap" title="@SysUserSystem.Table_IsLeft">@((data.IsLeft.GetValue() == EnumYN.Y.ToString()) ? SysUserSystem.Label_Left : string.Empty)</td>
                            <td data-th="@SysUserSystem.Table_IsDisable：" nowrap="nowrap" title="@SysUserSystem.Table_IsDisable">@((data.IsDisable.GetValue() == EnumYN.Y.ToString()) ? SysUserSystem.Label_Disable : string.Empty)</td>
                            <td data-th="@SysUserSystem.Table_UpdUserNM：" nowrap="nowrap" title="@SysUserSystem.Table_UpdUserNM">@Html.Raw(data.UpdUserNM.HtmlValue())</td>
                            <td data-th="@SysUserSystem.Table_UpdDT：" nowrap="nowrap" title="@SysUserSystem.Table_UpdDT">@Html.Raw(data.UpdDT.HtmlValue())</td>
                        </tr>
                    }
                }
            </table>
        }
    }
}