@using LionTech.Entity.B2P
@using LionTech.Utility
@using LionTech.Utility.B2P
@using Resources

@{
    string fullDateTimeNumber = Common.GetDateTimeString();
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7;" />
    <title>@Resources.Resource.AP_Title</title>
    <link href="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Content/Site.css?@(fullDateTimeNumber)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Content/Site.MessageBox.css?@(fullDateTimeNumber)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Content/Site.Table.css?@(fullDateTimeNumber)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.B2PAP)/Content/Site.TabStrip.css?@(fullDateTimeNumber)" rel="stylesheet" type="text/css" />
</head>
<body>

    <div>
        <div class="layout Header">
            <table style="width:100%;height:30px;">
                <tr>
                    <td valign="middle" align="left" class="layout Header Title">@Resource.AP_Title</td>
                    <td valign="middle" align="right"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="layout Main">
        <div class="layout Function">
            <div>
                <table class="layout Function Tool">
                    <tr>
                        <td valign="top" align="center">
                            <a href="javascript:window.history.back();">@Resource.AP_GenericError</a><p />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</body>
</html>
