@using LionTech.Entity.ERP
@using LionTech.Utility
@using ERPAP.Models.Pub
@using LionTech.Web.ERPHelper
@using Resources
@model  PushTopicNotificationDetailModel
@{
    Layout = "~/Views/_Layout.cshtml";
    string fullDateTimeNumber = Common.GetDateTimeString();
}

<link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/themes/base/jquery.ui.combobox.css?@(fullDateTimeNumber)" rel="stylesheet" type="text/css" />
<link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/themes/base/jquery.ui.datepicker.css?@(fullDateTimeNumber)" rel="stylesheet" type="text/css" />
<script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/Pub/PushTopicNotificationDetail.js?@(fullDateTimeNumber)" type="text/javascript"></script>
<script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/jquery.ui.combobox.js?@(fullDateTimeNumber)" type="text/javascript"></script>
<script type="text/javascript"> _enumERPAP = "@Common.GetEnumDesc(EnumSystemID.ERPAP)";</script>

@using (Html.BeginFormSubmit("PushTopicNotificationDetailForm"))
{
    <div class="page-title">
        <h3>
            @PubPushTopicNotificationDetail.Label_PushTopicNotificationDetail
        </h3>
    </div>

    <table class="tblvertical">
        <tr>
            <th style="width: 90px;">
                @Html.FormLabel(PubPushTopicNotificationDetail.Label_Title, IsRequired: true)
            </th>
            <td colspan="3">
                @Html.InputTextBoxFor(model => model.Title, TitleName: PubPushTopicNotificationDetail.Label_Title)
            </td>
        </tr>
        <tr>
            <th>
                @Html.FormLabel(PubPushTopicNotificationDetail.Label_Body, IsRequired: true)
            </th>
            <td colspan="3">
                @Html.InputTextAreaFor(model => model.Body, 6, 60, TitleName: PubPushTopicNotificationDetail.Label_Body)
            </td>
        </tr>
        <tr>
            <th>
                @Html.FormLabel(PubPushTopicNotificationDetail.Label_PushType)
            </th>
            <td colspan="3">
                @Html.InputComboBoxFor(model => model.ImmediatelyPush, Model.PushTimeDictionary, isDisabled: true)
            </td>
        </tr>
        <tr>
            <th>
                @Html.FormLabel(PubPushTopicNotificationDetail.Label_PushDate, IsRequired: true)
            </th>
            <td>
                @Html.InputTextBoxFor(model => model.PushDate, TitleName: PubPushTopicNotificationDetail.Label_PushDate)
            </td>
            <th style="width: 90px;">
                @Html.FormLabel(PubPushTopicNotificationDetail.Label_PushTime, IsRequired: true)
            </th>
            <td>
                @Html.InputTextBoxFor(model => model.PushTime, TitleName: PubPushTopicNotificationDetail.Label_PushTime) (ex:1700)
            </td>
        </tr>
    </table>

    <div>
        @Html.ButtonClient("ConfirmButton", Resource.Button_Okay, "btn")
        @Html.ButtonClient("CancelButton", Resource.Button_Cancel, "btn")
    </div>
}
