@using System.Configuration
@using LionTech.Entity
@using LionTech.Entity.ERP
@using LionTech.Utility
@using LionTech.Utility.ERP
@using LionTech.Web.ERPHelper
@using Resources

@{
    var styleString = "display:none;";
    var errorMessage = string.Empty;
    if (TempData["SystemErrorMessage"] != null)
    {
        styleString = "display:block;";
        errorMessage = Convert.ToString(TempData["SystemErrorMessage"]);
    }
    string editionNo = ViewData[EnumViewDataItem.EditionNo.ToString()].ToString();

    string msgERPUrl = string.Format("{0}{1}{2}",
                                     Common.GetEnumDesc(EnumSystemID.ERPAP),
                                     "/Home/TokenDelay?TargetUrl=",
                                     ConfigurationManager.AppSettings[TRAININGAP.EnumAppSettingKey.ASPPUBPub003URL.ToString()]);
    string msgSERPUrl = string.Format("{0}{1}",
                                      Common.GetEnumDesc(EnumSystemID.TOURAP),
                                      "/Msg/SearchList");
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7;" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title>@Resources.Resource.AP_Title</title>
    <link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/Site.css?@(editionNo)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/Site.MessageBox.css?@(editionNo)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/Site.Table.css?@(editionNo)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/Site.TabStrip.css?@(editionNo)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/Serp.Layout.css?@(editionNo)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/Serp.Table.css?@(editionNo)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/Serp.Util.css?@(editionNo)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/Serp.BstrapUtil.css?@(editionNo)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/Serp.FunTool.css?@(editionNo)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/Serp.WorkFlow.css?@(editionNo)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.TRAININGAP)/Content/font/font.Util.css?@(editionNo)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/mobileview.css?@(editionNo)" rel="stylesheet" media="screen and (min-width:320px) and (max-width:1023px)" />
    <link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/themes/base/jquery.ui.core.css?@(editionNo)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/themes/base/jquery.ui.theme.css?@(editionNo)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/jquery.ui.autocomplete.css?@(editionNo)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/jquery.tooltip.css?@(editionNo)" rel="stylesheet" type="text/css" />
    <link href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Content/news.css?@(editionNo)" rel="stylesheet" type="text/css" /> 
    <script type="text/javascript">
        _domain = "@Common.GetEnumDesc(EnumSystemID.Domain)";
        _enumERPAP = "@Common.GetEnumDesc(EnumSystemID.ERPAP)";
        _enumPUBAP = "@Common.GetEnumDesc(EnumSystemID.PUBAP)";
        _enumTKNAP = "@Common.GetEnumDesc(EnumSystemID.TKNAP)";
        _enumWFAP = "@Common.GetEnumDesc(EnumSystemID.WFAP)";
    </script>
    <script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/jquery-1.7.2.min.js?@(editionNo)" type="text/javascript"></script>
    <script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/jquery.form.js?@(editionNo)" type="text/javascript"></script>
    <script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/jquery.blockUI.js?@(editionNo)" type="text/javascript"></script>
    <script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/jquery-ui-1.8.11.min.js?@(editionNo)" type="text/javascript"></script>
    <script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/jquery.ui.freezePanes.js?@(editionNo)" type="text/javascript"></script>
    <script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/GlobalResources/Resources@((Culture == Common.GetEnumDesc(LionTech.Entity.ERP.EnumCultureID.zh_TW) ? string.Empty : "." + Culture) + ".js")?@(editionNo)" type="text/javascript"></script>
    <script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/LionTechWebERPHelpers.js?@(editionNo)" type="text/javascript"></script>
    <script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/news.js?@(editionNo)" type="text/javascript"></script>
    @Html.Raw(ViewData[EnumViewDataItem.JsMsg.ToString()].ToString())
</head>
<body class="greenStyle">

    <div id="header">

        <div class="header-main">
            <div class="header_content">
            
                <div id="logo"></div>
                <div id="sitename"><a href="#">@Resource.AP_Menu_Title</a></div>
                
                <a href="#" id="navicon4"></a>
                
                <div id="nav">
                    @if (ViewData[EnumViewDataItem.UserMenu.ToString()] != null)
                    {
                        @Html.Raw(ViewData[EnumViewDataItem.UserMenu.ToString()].ToString())
                    }
                </div>

                <div id="topnav">
                	<a href="javascript:void(0);" id="navicon2"></a>
                	<ul>
                        <li class="hasmenu">
                            <a href="javascript:void(0);" class="navtxt"><span>@Resource.AP_Menu_Culture</span></a>
                            <div class="subnav">
                                <ul>
                                    <li>@Html.TextLink(Resource.AP_CultureInfo_zh_TW, string.Concat(Common.GetEnumDesc(EnumSystemID.ERPAP), "/Pub/Bulletin?val2=zh_TW"), Target: EnumLinkTarget._self)</li>
                                    <li>@Html.TextLink(Resource.AP_CultureInfo_zh_CN, string.Concat(Common.GetEnumDesc(EnumSystemID.ERPAP), "/Pub/Bulletin?val2=zh_CN"), Target: EnumLinkTarget._self)</li>
                                    <li>@Html.TextLink(Resource.AP_CultureInfo_en_US, string.Concat(Common.GetEnumDesc(EnumSystemID.ERPAP), "/Pub/Bulletin?val2=en_US"), Target: EnumLinkTarget._self)</li>
                                    <li>@Html.TextLink(Resource.AP_CultureInfo_th_TH, string.Concat(Common.GetEnumDesc(EnumSystemID.ERPAP), "/Pub/Bulletin?val2=th_TH"), Target: EnumLinkTarget._self)</li>
                                    <li>@Html.TextLink(Resource.AP_CultureInfo_ja_JP, string.Concat(Common.GetEnumDesc(EnumSystemID.ERPAP), "/Pub/Bulletin?val2=ja_JP"), Target: EnumLinkTarget._self)</li>
                                </ul>
                            </div>
                        </li>                        
                    	<li><a href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Pub/Bulletin"><span>@Resource.AP_Menu_Bulletin</span></a></li>
                        <li><a href="#"><span>@Resource.AP_Menu_ExternalAffair</span></a></li>
                        <li><a href="#"><span>@Resource.AP_Menu_PunchClock</span></a></li>
                        <li class="hasmenu">
                            <a href="javascript:void(0);" class="navtxt"><span>@Resource.AP_Menu_Message</span></a>
                            <div class="subnav">
                                <ul>
                                    <li>@Html.TextLink("ERP", msgERPUrl, Target: EnumLinkTarget._blank)</li>
                                    <li>@Html.TextLink("SERP", msgSERPUrl, Target: EnumLinkTarget._blank)</li>
                                </ul>
                            </div>
                        </li>
                        <li>@Html.TextLink("TNT", "http://tnt.lionnet.com.tw/153rinformation/153rinformation1_setindex.htm", Target: EnumLinkTarget._blank)</li>
                        <li><a href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Pub/ExternalSystem"><span>@Resource.AP_Menu_ExternalSystem</span></a></li>
                        <li class="hasmenu">
                        	<a href="javascript:void(0);" class="navtxt"><span>@Resource.AP_Menu_LionWebsite</span></a>
                            <div class="subnav">
                                <ul>
                                    <li>@Html.TextLink("B2C", "http://www.liontravel.com/", Target: EnumLinkTarget._blank)</li>
                                    <li>@Html.TextLink("B2B", "http://b2b.liontravel.com/", Target: EnumLinkTarget._blank)</li>
                                </ul>
                            </div>
                        </li>
                        <li class="hasmenu">
                        	<a href="javascript:void(0);" class="navtxt"><span>@Resource.AP_Menu_UplanWebsite</span></a>
                            <div class="subnav">
                                <ul>
                                    <li>@Html.TextLink("B2C", "https://www.uplantravel.com/", Target: EnumLinkTarget._blank)</li>
                                    <li>@Html.TextLink("B2B", "https://b2b.uplantravel.com/", Target: EnumLinkTarget._blank)</li>
                                </ul>
                            </div>
                        </li>
                        <li class="hasmenu">
                        	<a href="javascript:void(0);" class="navtxt"><span>@Resource.AP_Menu_OfficeSystem</span></a>
                            <div class="subnav">
                                <ul>
                                    <li>@Html.TextLink(Resource.AP_Menu_Conference, "https://erp.liontravel.com/html2/it/conference/index.htm", Target: EnumLinkTarget._blank)</li>
                                    <li>@Html.TextLink("Web Mail", "http://oldmail.liontravel.com/help/index.htm", Target: EnumLinkTarget._blank)</li>
                                    <li>@Html.TextLink(Resource.AP_Menu_FaxSystem, "https://erp.liontravel.com/html2/it/fax/index.htm", Target: EnumLinkTarget._blank)</li>
                                </ul>
                            </div>
                        </li>
                        <li>@Html.TextLink(Resource.AP_Menu_LionEdu, "https://erp.liontravel.com/html2/it/edu/index.htm", Target: EnumLinkTarget._blank)</li>
                        <li>@Html.TextLink(Resource.AP_Menu_Welfare, "http://www.lionnet.com.tw/06welfare/wfblog/default.asp", Target: EnumLinkTarget._blank)</li>
                    </ul>
                </div>
                <div id="function-bar">
                	<span class="logintxt">
                         @Html.TextSubmitLink(
                            "Sys",
                            "UserMain",
                            "LinkFunKeyUserMain",
                            string.Format("{0} {1}", ViewData[EnumViewDataItem.UserID.ToString()], ViewData[EnumViewDataItem.UserNM.ToString()]),
                            new List<string>() {
                                ViewData[EnumViewDataItem.UserID.ToString()].ToString()
                            }
                        )
                        @Resource.AP_Menu_HelloWord
                    </span>
                    <span class="sep">|</span>
                    <span class="func-menu dropdown">
                    	<a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle"><i class="icon menu2"></i></a>
                        <a href="javascript:void(0);" id="navicon1"></a>
                    	<ul class="dropdown-menu">
                            <li><a href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Pub/MenuSetting">@Resource.AP_Menu_MenuSetting</a></li>
                            <li class="divider"></li>
                            <li><a href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Pub/Bulletin?val1=1">Menu1</a></li>
                            <li class="divider"></li>
                            <li><a href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Pub/Bulletin?val1=2">Menu2</a></li>
                            <li class="divider"></li>
                            <li><a href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Pub/Bulletin?val1=3">Menu3</a></li>
                            <li class="divider"></li>
                            <li><a href="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Home/Logout">@Resource.AP_Menu_Logout</a></li>
                        </ul>
                    </span>
                </div>
            </div> 
        </div>

        <div class="layout MenuBorder"></div>

        <div id="layoutMessage" class="layout Message" style="@styleString">
            <table style="width:100%;height:25px;">
                <tr>
                    <td valign="middle" align="center">
                        <div id="layoutMessageBody">@errorMessage</div>
                    </td>
                </tr>
            </table>
        </div>

        <div id="divToolbar">
            <a class="news-redirect" href="@msgSERPUrl" target="_blank"><img src="@(Common.GetEnumDesc(EnumSystemID.ERPAP))/Content/images/icon-dialog.png" alt="" /></a>
            <img id="imgShow" class="news-show" src="@(Common.GetEnumDesc(EnumSystemID.ERPAP))/Content/images/arrow_out.png" alt="" />
            <img id="imgUp" class="news-up" src="@(Common.GetEnumDesc(EnumSystemID.ERPAP))/Content/images/imgSortUp.png" alt="" />
            <img id="imgDown" class="news-down" src="@(Common.GetEnumDesc(EnumSystemID.ERPAP))/Content/images/imgSortDown.png" alt="" />
        </div>
        <div id="divContent">
            <div id="divContentWrapper">
                <ul>
                    @if (TempData["ERPUserMessageCount"] != null &&
                         int.Parse(TempData["ERPUserMessageCount"].ToString()) > 0)
                    {
                        for (int i = 0; i < int.Parse(TempData["ERPUserMessageCount"].ToString()); i++)
                        {
                            <li><a href="@msgSERPUrl" target="_blank">@TempData["ERPUserMessage" + i.ToString()]</a></li>
                        }
                    }
                    else
                    {
                        <li></li>
                    }
                </ul>
            </div>
        </div>
        
    </div>

    <table cellspacing="0" cellpadding="0" style="width: 100%;">
        <tr>
            <td>
                @if ((bool)ViewData[EnumViewDataItem.SysFunToolIsEnable.ToString()])
                {
                    <table id="SysFunTooleBar" class="FunToolSelectTable" cellspacing="0" cellpadding="6">
                        <tr>
                            <td>
                                <div id="FunToolComboBox">
                                    @Html.InputTextBox("FunToolControllerID", ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString(), inputType: EnumInputType.TextBoxHidden)
                                    @Html.InputTextBox("FunToolActionName", ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString(), inputType: EnumInputType.TextBoxHidden)
                                    @Html.InputComboBox("FunToolNo", ViewData[EnumViewDataItem.SysFunToolNo.ToString()].ToString(), (Dictionary<string, string>)ViewData[EnumViewDataItem.SysFunToolDict.ToString()])
                                </div>
                                <div id="FunToolButton">
                                    @Html.ButtonClient("SysFunToolQueryButton", Resource.Button_FunTool_Query, className: "btn bigwidth redhover")
                                    @Html.ButtonClient("SysFunToolUpdateNameButton", Resource.Button_FunTool_UpdateName, className: "btn bigwidth greenhover")
                                    @Html.ButtonClient("SysFunToolUpdateButton", Resource.Button_FunTool_Update, className: "btn bigwidth greenhover")
                                    @Html.ButtonClient("SysFunToolCreateButton", Resource.Button_FunTool_Create, className: "btn bigwidth greenhover")
                                    @Html.ButtonClient("SysFunToolCopyButton", Resource.Button_FunTool_Copy, className: "btn bigwidth greenhover")
                                    @Html.ButtonClient("SysFunToolDeleteButton", Resource.Button_FunTool_Delete, className: "btn bigwidth greenhover")
                                </div>
                            </td>
                        </tr>
                    </table>

                    using (Html.BeginConfirmDialog("SysFunToolCreateConfirmDialog", Resource.SysMsg_Title, Resource.SysMsg_RequiredToolNM))
                    {
                        <table>
                            <tr>
                                <td>
                                    @Html.InputTextBox("FunToolNM", string.Empty, maximumLength: 150, Size: 20, inputType: EnumInputType.TextBox)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.ButtonClient("SysFunToolCreateConfirmOKButton", Resource.Button_Save)
                                    @Html.ButtonClient("SysFunToolCreateConfirmNOButton", Resource.Button_Cancel)
                                </td>
                            </tr>
                        </table>
                    }

                    using (Html.BeginConfirmDialog("SysFunToolCopyConfirmDialog", Resource.SysMsg_Title, Resource.SysMsg_RequiredUserID))
                    {
                        <table>
                            <tr>
                                <td>
                                    @Html.AutoCompleteTextBox("FunToolUserID", string.Empty, string.Empty, size: 15)
                                </td>
                                <td>
                                    @Html.InputCheckBox("IsUseDefault", Resource.Text_FunTool_IsUseDefaultNo, EnumYN.Y.ToString(), true)
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    @Html.ButtonClient("SysFunToolCopyConfirmOKButton", Resource.Button_Save)
                                    @Html.ButtonClient("SysFunToolCopyConfirmNOButton", Resource.Button_Cancel)
                                </td>
                            </tr>
                        </table>
                    }

                    using (Html.BeginMessageBox("SysFunToolCopySuccessDialog", Resource.SysMsg_Title))
                    {
                        <table>
                            <tr>
                                <td>
                                    @Resource.SysMsg_FunToolCopySuccess
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.ButtonClient("SysFunToolCopySuccessOKButton", Resource.Button_Okay)
                                </td>
                            </tr>
                        </table>
                    }

                    using (Html.BeginConfirmDialog("SysFunToolDeleteConfirmDialog", Resource.SysMsg_Title, Resource.SysMsg_Confirm))
                    {
                        @Html.ButtonClient("SysFunToolDeleteConfirmOKButton", Resource.Button_Okay)
                        @Html.ButtonClient("SysFunToolDeleteConfirmNOButton", Resource.Button_Cancel)
                    }

                    using (Html.BeginMessageBox("SysFunToolDeleteSuccessDialog", Resource.SysMsg_Title))
                    {
                        <table>
                            <tr>
                                <td>
                                    @Resource.SysMsg_FunToolDeleteSuccess
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.ButtonClient("SysFunToolDeleteSuccessOKButton", Resource.Button_Okay)
                                </td>
                            </tr>
                        </table>
                    }

                    using (Html.BeginConfirmDialog("SysFunToolUpdateNameConfirmDialog", Resource.SysMsg_Title, Resource.SysMsg_RequiredToolNM))
                    {
                        <table>
                            <tr>
                                <td>
                                    @Html.InputTextBox("FunToolUpdateName", string.Empty, maximumLength: 150, Size: 20, inputType: EnumInputType.TextBox)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.ButtonClient("SysFunToolUpdateNameConfirmOKButton", Resource.Button_Save)
                                    @Html.ButtonClient("SysFunToolUpdateNameConfirmNOButton", Resource.Button_Cancel)
                                </td>
                            </tr>
                        </table>
                    }

                    using (Html.BeginMessageBox("SysFunToolUpdateNameSuccessConfirmDialog", Resource.SysMsg_Title))
                    {
                        <table>
                            <tr>
                                <td>
                                    @Resource.SysMsg_FunToolUpdateNameSuccess
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.ButtonClient("SysFunToolUpdateNameSuccessOKButton", Resource.Button_Okay)
                                </td>
                            </tr>
                        </table>
                    }
                }
            </td>
        </tr>
    </table>

    <table cellspacing="0" cellpadding="0" style="width:100%;">
        <tr>
            <td>
                @RenderBody()

                @if (TempData["SystemAlertMessage"] != null)
                {
                    @Html.MessageBoxAlert("SysMessage", Resource.SysMsg_Title, Convert.ToString(TempData["SystemAlertMessage"]), Resource.Button_Close)
                }

            </td>
        </tr>
    </table>


    <script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/bootstrap.min.js?@(editionNo)" type="text/javascript"></script>
    <script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/init.js?@(editionNo)" type="text/javascript"></script>
    <script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/tooltip/jquery.tooltip.min.js?@(editionNo)" type="text/javascript"></script>
</body>
</html>
<script src="@Common.GetEnumDesc(EnumSystemID.ERPAP)/Scripts/_Layout.js?@(editionNo)" type="text/javascript"></script>